html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgb(172, 203, 209);
  padding: 30px;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  border-bottom: 1px solid rgb(172, 203, 209);
  padding: 10px 0px 10px 30px;
  text-transform: uppercase;
}

.main-gd p {
  color: white;
  font-weight: 300;
}

.main-gd h2 {
  color: rgb(172, 203, 209);
  font-weight: 300;
  border-bottom: 1px solid rgb(172, 203, 209);
}

.main-vv h2 {
  color: rgb(79, 125, 136);
  font-weight: 300;
  border-bottom: 1px solid rgb(79, 125, 136);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
}
h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #616161;
  margin: 10px auto;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  margin: 10px;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
}

p, a {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}

strong {
  font-weight: 600;
}

.item-corner1, .item-corner2, .item-corner3, .item-corner4 {
  position: absolute;
  width: 0.5em;
}

.menu__item .item-corners,
.submenu .item-corners,
.submenu__item .item-corners {
  opacity: 0%;
}
@media screen and (min-width: 840px) {
  .menu__item .item-corners,
  .submenu .item-corners,
  .submenu__item .item-corners {
    opacity: 100%;
  }
}

.item-corner1 {
  top: 0px;
  left: 0px;
  transform: rotate(90deg);
}

.item-corner2 {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.item-corner3 {
  bottom: 0;
  right: 0;
  transform: rotate(270deg);
}

.item-corner4 {
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 840px) {
  .submenu:hover .item-corner3 {
    right: -5px;
    bottom: -107px;
  }
}

@media screen and (min-width: 840px) {
  .submenu:active #subcorner3 {
    right: -10px;
    bottom: -109px;
  }
}

@media screen and (min-width: 840px) {
  .submenu:hover .item-corner4 {
    left: -5px;
    bottom: -107px;
  }
}

@media screen and (min-width: 840px) {
  .submenu:active #subcorner4 {
    left: -10px;
    bottom: -109px;
  }
}

@media screen and (min-width: 840px) {
  .submenu--vv:hover .item-corner3,
  .submenu--gd:hover .item-corner3 {
    right: -5px;
    bottom: -53px;
  }
}

@media screen and (min-width: 840px) {
  .submenu--vv:active #subcorner3,
  .submenu--gd:active #subcorner3 {
    right: -5px;
    bottom: -53px;
  }
}

@media screen and (min-width: 840px) {
  .submenu--vv:hover .item-corner4,
  .submenu--gd:hover .item-corner4 {
    left: -5px;
    bottom: -53px;
  }
}

@media screen and (min-width: 840px) {
  .submenu--vv:active #subcorner4,
  .submenu--gd:active #subcorner4 {
    left: -5px;
    bottom: -53px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--active .item-corner1,
  .submenu--active .item-corner1,
  .submenu--gd .item-corner1,
  .submenu--vv .item-corner1 {
    top: -5px;
    left: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--active .item-corner2,
  .submenu--active .item-corner2,
  .submenu--gd .item-corner2,
  .submenu--vv .item-corner2 {
    top: -5px;
    right: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--active .item-corner3,
  .submenu--active .item-corner3,
  .submenu--gd .item-corner3,
  .submenu--vv .item-corner3 {
    bottom: -5px;
    right: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--active .item-corner4,
  .submenu--active .item-corner4,
  .submenu--gd .item-corner4,
  .submenu--vv .item-corner4 {
    bottom: -5px;
    left: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:active .item-corner1,
  .submenu:active .item-corner1 {
    top: -5px;
    left: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:active .item-corner2,
  .submenu:active .item-corner2 {
    top: -5px;
    right: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:active .item-corner3,
  .submenu:active .item-corner3 {
    bottom: -5px;
    right: -5px;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:active .item-corner4,
  .submenu:active .item-corner4 {
    bottom: -5px;
    left: -5px;
  }
}

.project--vv .item-corner1,
.project--gd .item-corner1 {
  top: -10px;
  left: -10px;
}

.project--vv .item-corner2,
.project--gd .item-corner2 {
  top: -10px;
  right: -10px;
}

.project--vv .item-corner3,
.project--gd .item-corner3 {
  bottom: -10px;
  right: -10px;
}

.project--vv .item-corner4,
.project--gd .item-corner4 {
  bottom: -10px;
  left: -10px;
}

.offer__container--gd .item-corner1,
.offer__container--vv .item-corner1 {
  top: 10px;
  left: 10px;
}

.offer__container--gd .item-corner2,
.offer__container--vv .item-corner2 {
  top: 10px;
  right: 10px;
}

.offer__container--gd .item-corner3,
.offer__container--vv .item-corner3 {
  bottom: 10px;
  right: 10px;
}

.offer__container--gd .item-corner4,
.offer__container--vv .item-corner1 {
  bottom: 10px;
  left: 10px;
}

.offer__container--gd .item-corner1,
.offer__container--gd .item-corner2,
.offer__container--gd .item-corner3,
.offer__container--gd .item-corner4 {
  fill: rgb(172, 203, 209);
}

.offer__container--vv .item-corner1,
.offer__container--vv .item-corner2,
.offer__container--vv .item-corner3,
.offer__container--vv .item-corner4 {
  fill: rgb(79, 125, 136);
}

.nav {
  flex-grow: 0;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

@media (max-width: 839px) {
  .menu__checkbox:checked ~ .menu {
    display: block;
  }
}

.hamburger-menu {
  width: 48px;
  padding: 7px 0 0 20px;
}

.menu__toggler {
  width: 30px;
}
@media screen and (min-width: 840px) {
  .menu__toggler {
    display: none;
  }
}

.menu {
  display: none;
  position: absolute;
  margin: 0 15px;
  padding: 10px;
  z-index: 1;
}
.menu :first-child {
  order: 1;
}
.menu :nth-child(2) {
  order: 2;
}
.menu :nth-child(3) {
  order: 3;
}
.menu :nth-child(4) {
  order: 4;
}
.menu :nth-child(5) {
  order: 5;
}
@media screen and (min-width: 840px) {
  .menu {
    position: initial;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}

.menu .menu__item, .menu .submenu {
  background-color: #3c3c3c;
  font-size: 16px;
  border-top: 2px solid white;
  position: relative;
}
@media screen and (min-width: 840px) {
  .menu .menu__item, .menu .submenu {
    background-color: #F6F6F6;
    border-top: 0;
    margin: 0 10px;
    padding: 10px 15px;
    fill: #d1d1d1;
    text-align: center;
  }
}

.menu .menu__item--invert {
  background-color: #3c3c3c;
  font-size: 16px;
  border-top: 2px solid white;
  position: relative;
}
@media screen and (min-width: 840px) {
  .menu .menu__item--invert {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-top: 0;
    margin: 0 10px;
    padding: 10px 15px;
    fill: grey;
    text-align: center;
  }
}

.menu__item--invert .menu__link {
  color: rgb(228, 228, 228);
}

@media screen and (min-width: 840px) {
  .menu .menu__item--invert:hover {
    fill: white;
  }
}

@media screen and (min-width: 840px) {
  .menu .menu__item--invert:active {
    background-color: white;
    fill: white;
  }
}

.menu__link:before,
.menu__link--invert:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}

.menu__link, .submenu-category__link, .submenu__link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
}

.menu__item, .submenu, .submenu__item {
  padding: 20px 20px;
  position: relative;
}

.menu__link, .submenu-category__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 840px) {
  .menu__link, .submenu-category__link {
    color: #616161;
  }
}

.menu__link--invert, .submenu-category__link--invert {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(185, 185, 185);
}

@media screen and (min-width: 840px) {
  .menu .menu__item-corners {
    opacity: 0%;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:hover, .submenu:hover .submenu-category__link, .submenu:hover .item-corners {
    fill: black;
    color: black;
  }
}

@media screen and (min-width: 840px) {
  .menu__item:hover .menu__link, .submenu:hover .menu__link {
    color: black;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--invert:hover .menu__link, .submenu:hover .menu__link {
    color: white;
  }
}

.menu__item:active {
  background-color: black;
  color: white;
}

.menu__item.menu__item:active, .menu__item.menu__item--active {
  background-color: black;
  color: white;
}
@media screen and (min-width: 840px) {
  .menu__item.menu__item:active, .menu__item.menu__item--active {
    padding: 10px 15px;
    fill: black;
  }
}

.menu__item--active:hover .menu__link {
  color: white;
}

@media screen and (min-width: 840px) {
  .menu__item:active .menu__link, .menu__item:active .menu__link:hover, .menu__item--active .menu__link, .menu__item--active .menu__link:hover {
    color: white;
  }
}

@media screen and (min-width: 840px) {
  .menu__item.menu__item--invert:active {
    background-color: white;
    fill: white;
  }
}

@media screen and (min-width: 840px) {
  .menu__item--invert:active .menu__link--invert:active,
  .menu__item--invert:active .menu__link--invert {
    color: black;
  }
}

.submenu {
  padding-bottom: 0;
}
@media screen and (min-width: 840px) {
  .submenu {
    position: relative;
  }
}

.submenu-category {
  padding-bottom: 20px;
}
@media screen and (min-width: 840px) {
  .submenu-category {
    padding: 0;
  }
}

.submenu-category__content {
  padding: 6px 0;
}

.submenu__link {
  font-size: 16px;
  background-color: #3c3c3c;
  padding: 20px 20px 20px 20px;
  margin: 0;
  display: block;
  border-top: 1px solid white;
  line-height: 1.3;
}
@media screen and (min-width: 840px) {
  .submenu__link {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(204, 204, 204);
    margin: 3px 0;
    padding: 5px 0px;
    border-top: 0;
  }
}
@media screen and (min-width: 840px) {
  .submenu__link--none {
    display: none;
  }
}

#link-gd:hover, #link-gd:active {
  font-weight: 600;
  background-color: rgb(172, 203, 209);
  color: white;
}

#link-vv:hover, #link-vv:active {
  font-weight: 600;
  background-color: rgb(79, 125, 136);
  color: white;
}

@media screen and (min-width: 840px) {
  .submenu-category__content {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

@media screen and (min-width: 840px) {
  .submenu-category__content .submenu__link {
    float: left;
    color: #000000;
    text-decoration: none;
  }
}

@media screen and (min-width: 840px) {
  .submenu:hover .submenu-category__content {
    display: inherit;
  }
}

.submenu--gd:hover .item-corners {
  background-color: rgb(172, 203, 209);
  fill: rgb(172, 203, 209);
}

.submenu--vv:hover .item-corners {
  background-color: rgb(172, 203, 209);
  fill: rgb(79, 125, 136);
}

@media screen and (min-width: 840px) {
  .menu .submenu--gd {
    background-color: rgb(172, 203, 209);
    fill: rgb(172, 203, 209);
  }
}

.submenu--gd .submenu-category__link {
  color: white;
}

@media screen and (min-width: 840px) {
  .menu .submenu--vv {
    background-color: rgb(79, 125, 136);
    fill: rgb(79, 125, 136);
  }
}

.submenu--vv .submenu-category__link {
  color: white;
}

.body {
  background-image: url(/images/wall\ jing\ jang_web_1mb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-color: rgb(226, 226, 226);
  padding: 0;
  margin: 0;
}

.body--gd {
  background-image: url(/images/gd_wall.jpg);
  background-repeat: repeat;
  background-color: rgb(32, 32, 32);
  padding: 0;
  margin: 0;
}

.body--vv {
  background-image: url(/images/vv_wall.jpg);
  background-repeat: repeat;
  background-color: rgb(226, 226, 226);
  padding: 0;
  margin: 0;
}

.site-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header :first-child {
  order: 2;
}
.site-header :nth-child(2) {
  order: 1;
}
.site-header :nth-child(3) {
  order: 3;
}
@media screen and (min-width: 840px) {
  .site-header {
    max-width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .site-header :first-child {
    order: 1;
  }
  .site-header :nth-child(2) {
    order: 2;
  }
  .site-header :nth-child(3) {
    order: 3;
  }
}

.site-header__logo {
  display: flex;
  width: 160px;
  margin: 10px;
  align-items: center;
}
@media screen and (min-width: 840px) {
  .site-header__logo {
    padding: 20px 20px 20px 30px;
    width: 200px;
  }
}

#site-header--vv {
  position: fixed;
  z-index: 1;
  top: 0;
}
@media screen and (min-width: 840px) {
  #site-header--vv {
    margin: 0;
    max-width: 100%;
    height: 70px;
    background-color: rgba(247, 247, 247, 0.9);
  }
}

@media screen and (min-width: 840px) {
  #site-header--vv .site-header__logo {
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 840px) {
  #site-header--vv .nav {
    flex: 1 0 40%;
  }
}

@media screen and (min-width: 840px) {
  .nav .menu-vv {
    justify-content: flex-end;
  }
}

#site-header--gd {
  position: fixed;
  top: 0;
  background-color: rgba(24, 24, 24, 0.9);
}
@media screen and (min-width: 840px) {
  #site-header--gd {
    margin: 0;
    max-width: 100%;
    height: 70px;
  }
}

#site-header--gd .site-header__logo {
  fill: white;
}
@media screen and (min-width: 840px) {
  #site-header--gd .site-header__logo {
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 840px) {
  #site-header--gd .nav {
    flex: 1 0 40%;
  }
}

@media screen and (min-width: 840px) {
  .nav .menu-gd {
    justify-content: flex-end;
  }
}

#hamburger-menu-gd {
  fill: white;
}

.language {
  text-decoration: none;
  padding: 15px 20px 0px 0px;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-start;
}
@media screen and (min-width: 840px) {
  .language {
    font-size: 14px;
    flex-shrink: 1;
  }
}

.language--gd {
  text-decoration: none;
  padding: 15px 20px 0px 0px;
  color: rgb(195, 195, 195);
  font-size: 15px;
  font-weight: 400;
  align-self: flex-start;
}
@media screen and (min-width: 840px) {
  .language--gd {
    font-size: 14px;
    flex-shrink: 1;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 50px;
}
@media screen and (min-width: 840px) {
  .aside {
    padding: 80px 60px 40px 20px;
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    justify-content: flex-start;
    position: fixed;
  }
}

.logo-aside {
  display: none;
}
@media screen and (min-width: 840px) {
  .logo-aside {
    display: inherit;
    max-width: 170px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 840px) {
  .aside-vv {
    background-image: url(/images/aside_background_light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 840px) {
  .aside-gd {
    background-image: url(/images/aside_background_dark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.aside-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 840px) {
  .aside-nav {
    justify-content: center;
    margin: 0;
  }
}

.nav--gd {
  padding: 0;
  background-image: linear-gradient(110deg, rgba(255, 0, 251, 0), rgba(255, 0, 251, 0.2), rgba(255, 0, 251, 0));
}
@media screen and (min-width: 840px) {
  .nav--gd {
    background-image: none;
    box-shadow: none;
  }
}

.nav--vv {
  padding: 30px 0;
  background-image: linear-gradient(110deg, rgba(54, 26, 177, 0), rgba(75, 38, 240, 0.2), rgba(54, 26, 177, 0));
}
@media screen and (min-width: 840px) {
  .nav--vv {
    background-image: none;
    box-shadow: none;
  }
}

.title__gd {
  fill: rgb(172, 203, 209);
  max-width: 250px;
  align-self: center;
  padding: 20px 0 30px 0;
  margin: 0 10px;
}
@media screen and (min-width: 840px) {
  .title__gd {
    width: 180px;
    padding: 15px 0;
    margin: 0 0 0 5px;
    rotate: 0deg;
  }
}

.title__vv {
  fill: rgb(79, 125, 136);
  max-width: 300px;
  align-self: center;
  padding: 20px 0 30px 0;
  margin: 0 10px;
}
@media screen and (min-width: 840px) {
  .title__vv {
    padding: 15px 0 0 0;
    rotate: 0deg;
  }
}

.aside-item--vv, .aside-item--gd {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}
@media screen and (min-width: 840px) {
  .aside-item--vv, .aside-item--gd {
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    flex-direction: row;
    align-items: flex-start;
  }
}
.aside-item--vv {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 20px rgba(60, 60, 60, 0.2);
}
.aside-item--gd {
  background-color: rgba(36, 36, 36, 0.5);
  box-shadow: 2px 2px 20px rgba(60, 60, 60, 0.7);
}
.aside-item__icon-gd, .aside-item__icon-vv {
  width: 60px;
}
.aside-item__category-gd, .aside-item__category-vv {
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 10px 0 0 0;
  display: block;
}
@media screen and (min-width: 840px) {
  .aside-item__category-gd, .aside-item__category-vv {
    margin: 10px 0 10px 15px;
    text-align: left;
  }
}

.aside-item__description {
  padding: 20px;
  font-size: 14px;
}

.aside-item--vv:hover {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(60, 60, 60, 0.2);
}

.aside-item--vv:hover .aside-item__icon-vv {
  fill: rgb(79, 125, 136);
  stroke: rgb(79, 125, 136);
}

.aside-item--vv:hover .aside-item__category-vv {
  color: rgb(79, 125, 136);
}

.aside-item--vv:active {
  background-color: white;
  box-shadow: 2px 2px 20px rgba(97, 97, 97, 0.3);
}

.aside-item--vv:active .aside-item__icon-gd {
  fill: rgb(50, 71, 77);
}

.aside-item--vv:active .aside-item__category-gd {
  color: rgb(50, 71, 77);
}

.aside-item--gd {
  fill: white;
}

.aside-item__category-gd {
  color: white;
  font-weight: 400;
}

.aside-item--gd:hover {
  background-color: rgba(20, 20, 20, 0.5);
  box-shadow: 2px 2px 20px rgba(97, 97, 97, 0.5);
}

.aside-item--gd:hover .aside-item__icon-gd {
  fill: rgb(172, 203, 209);
}

.aside-item--gd:hover .aside-item__category-gd {
  color: rgb(172, 203, 209);
}

.aside-item--gd:active {
  background-color: rgba(20, 20, 20, 0.5);
  box-shadow: 2px 2px 20px rgba(97, 97, 97, 0.3);
}

.aside-item--gd:active .aside-item__icon-gd {
  fill: rgb(158, 215, 224);
}

.aside-item--gd:active .aside-item__category-gd {
  color: rgb(158, 215, 224);
}

.inside-link {
  text-decoration: none;
  line-height: 1.3;
  color: black;
}

#description__identity, #description__gd-digi, #description__gd-print, #description__vv-project {
  display: none;
}

.section-hero {
  padding: 0;
}

.main-regular {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  background-image: url(/images/wall_white_top.png);
  background-size: cover;
}
@media screen and (min-width: 840px) {
  .main-regular {
    max-width: 800px;
  }
}

.main-wide {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media screen and (min-width: 840px) {
  .main-wide {
    max-width: 1100px;
  }
}

.main-gd, .main-vv {
  width: 100%;
  padding: 0px;
}
@media screen and (min-width: 840px) {
  .main-gd, .main-vv {
    padding: 0;
  }
}

section {
  padding: 0px;
}

.section__title {
  text-align: center;
  padding-bottom: 0;
}

.anchor {
  display: block;
  height: 40px;
  visibility: hidden;
}
@media screen and (min-width: 840px) {
  .anchor {
    height: 70px;
  }
}

html {
  scroll-behavior: smooth;
}

.section-hero {
  padding-top: 40px;
}
@media screen and (min-width: 840px) {
  .section-hero {
    padding-top: 0px;
  }
}

.grid-homepage {
  padding-bottom: 40px;
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}
.grid-homepage :first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-homepage :nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-homepage :nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid-homepage :nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}
@media screen and (min-width: 840px) {
  .grid-homepage {
    grid-template-columns: 100px 1fr 2fr 1fr 100px;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    margin: 0 40px;
  }
  .grid-homepage :first-child {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .grid-homepage :nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto 0;
  }
  .grid-homepage :nth-child(3) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .grid-homepage :nth-child(4) {
    grid-column: 5/6;
    grid-row: 2/3;
    margin: auto 0;
  }
}

.main-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 500px;
  max-width: 600px;
}

.main-photo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.button-stencil {
  width: 100px;
  margin: 0 auto;
}

#gd-stencil:hover {
  fill: rgb(172, 203, 209);
}
#gd-stencil:active {
  fill: rgb(158, 215, 224);
}

#vv-stencil:hover {
  fill: rgb(79, 125, 136);
}
#vv-stencil:active {
  fill: rgb(50, 71, 77);
}

.grid-homepage .textbox {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  box-shadow: 0 0 4px rgba(81, 81, 81, 0.1);
  max-width: 400px;
}

.textbox {
  position: relative;
  padding: 10px 20px 20px 20px;
  margin: 10px auto;
  min-width: 150px;
  max-width: 400px;
}

.textbox__text {
  margin: 0;
  font-size: 18px;
}

.textbox .item-corner1 {
  top: 10px;
  left: 10px;
}

.textbox .item-corner2 {
  top: 10px;
  right: 10px;
}

.textbox .item-corner3 {
  bottom: 10px;
  right: 10px;
}

.textbox .item-corner4 {
  bottom: 10px;
  left: 10px;
}

.category {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 840px) {
  .category {
    margin-left: 300px;
  }
}

.category__name--gd, .category__name--vv {
  font-size: 22px;
}

.project--vv {
  position: relative;
  margin: 30px 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 840px) {
  .project--vv {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
  }
}

.project--vv .item-corners {
  fill: rgb(79, 125, 136);
}

.project--gd {
  position: relative;
  margin: 30px 20px;
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.8);
}
@media screen and (min-width: 840px) {
  .project--gd {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    max-width: 1200px;
  }
}

.project--gd .item-corners {
  fill: rgb(172, 203, 209);
}

.container-gallery {
  display: flex;
  overflow-x: auto;
}
@media screen and (min-width: 840px) {
  .container-gallery {
    overflow-x: none;
    border-top: none;
    border-bottom: none;
    margin: 0 0 20px 0;
    padding-left: 0px;
  }
}

.gallery__item-preview {
  padding-right: 5px;
  min-width: 170px;
  height: 150px;
}
@media screen and (min-width: 840px) {
  .gallery__item-preview {
    width: 240px;
    height: 220px;
  }
}

.gallery__item-preview img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center left;
     object-position: center left;
}

.grid-gallery {
  display: flex;
  overflow-x: auto;
}
@media screen and (min-width: 840px) {
  .grid-gallery {
    overflow-x: none;
    border-top: none;
    border-bottom: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, minmax(150px, 200px));
    grid-template-rows: repeat(1, minmax(150px, 200px));
    margin: 0 0 20px 0;
    padding-left: 0px;
  }
}
.grid-gallery :first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-gallery :nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-gallery :nth-child(3) {
  grid-column: 3/5;
  grid-row: 1/2;
}
.grid-gallery :nth-child(4) {
  grid-column: 5/7;
  grid-row: 1/2;
}

.gallery__item-preview--grid {
  padding-right: 5px;
}

.gallery__item-preview--grid img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.project__introduction {
  flex: 1 1 60%;
}

.project__title--vv {
  padding: 20px 0 5px 0;
  color: #3c3c3c;
}
@media screen and (min-width: 840px) {
  .project__title--vv {
    padding: 0px 30px 5px 20px;
  }
}

.project__line-title--vv {
  border-top: px solid rgb(79, 125, 136);
  margin-left: -50px;
}

.project__title--gd {
  padding: 10px 0 5px 0;
  color: white;
  size: 20px;
}
@media screen and (min-width: 840px) {
  .project__title--gd {
    padding: 0px 30px 5px 20px;
  }
}

.project__line-title--gd {
  border-top: 0px solid white;
  margin-left: -50px;
}

.project__description {
  padding: 10px 0;
  margin: 0;
}
@media screen and (min-width: 840px) {
  .project__description {
    margin: 0 20px;
  }
}

.project__line-description {
  border-top: 1px solid rgb(201, 201, 201);
  margin: 1px;
}
@media screen and (min-width: 840px) {
  .project__line-description {
    margin-left: 20px;
    display: none;
  }
}

.project__details {
  margin: 0 0 20px 0;
}
@media screen and (min-width: 840px) {
  .project__details {
    border-left: 1px solid rgb(201, 201, 201);
    flex: 1 1 40%;
  }
}

.project__details--gd {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}
@media screen and (min-width: 840px) {
  .project__details--gd {
    flex: 1 1 40%;
  }
}

.project__details-title {
  padding: 0;
  margin: 20px 0 0 0;
  color: #616161;
  line-height: 1.2;
  font-size: 14px;
}
@media screen and (min-width: 840px) {
  .project__details-title {
    padding: 0;
    margin: 0 0 0 20px;
  }
}

.project__details-text {
  color: #616161;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}
@media screen and (min-width: 840px) {
  .project__details-text {
    margin: 0 20px 15px 20px;
  }
}

.video {
  min-width: 300px;
  max-width: 500px;
  flex-grow: 1;
  margin: 20px;
}

.container-video-buttons {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 840px) {
  .container-video-buttons {
    margin-left: 20px;
  }
}

.container-video-buttons--gd {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 840px) {
  .container-video-buttons--gd {
    margin-left: 0px;
  }
}

.project__video-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 40px;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 0 0;
}
@media screen and (min-width: 840px) {
  .project__video-link {
    margin: 0px 10px 10px 0px;
  }
}
.project__video-link:hover {
  background: rgb(79, 125, 136);
  color: white;
  fill: white;
}
.project__video-link:active {
  border: none;
  box-shadow: 1px 1px 5px rgba(79, 125, 136, 0.5);
}

.project__video-link:hover .project__icon-play,
.project__video-link:hover .project__text-link {
  fill: white;
  color: white;
}

.project__icon-play {
  height: 20px;
  fill: rgb(79, 125, 136);
  margin: 0 10px 0 0;
}

.video-button--vv:hover {
  background: rgb(158, 215, 224);
  color: white;
  fill: white;
}
.video-button--vv:active {
  border: none;
  background: rgb(172, 203, 209);
  box-shadow: 1px 1px 5px rgba(172, 203, 209, 0.5);
}

.video-button--vv .project__icon-play {
  fill: white;
}

.project__text-link {
  color: rgb(79, 125, 136);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.square {
  width: 10px;
  fill: white;
}

.project__details-type {
  display: flex;
  margin: 10px 20px 10px 5px;
}

.project__details-type .project__details-text {
  margin: 0 0 0 10px;
  display: block;
}

.details-gd--one {
  display: flex;
  align-items: first baseline;
}

.container-video--buttons--gd {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-image: linear-gradient(90deg, #252525, #3a3a3a);
  opacity: 80%;
  padding: 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-align: center;
}

.hero-o-mne {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center top;
}
@media screen and (min-width: 840px) {
  .hero-o-mne {
    margin-top: 0px;
  }
}
.hero-o-mne .textbox {
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);
}
.hero-o-mne .textbox p {
  margin: 0;
  padding: 0 20px 20px 20px;
}

.textbox .stencil-2v1 {
  width: 40%;
  margin: 10px 30%;
  min-width: 100px;
  max-width: 200px;
}

.grid-o-mne {
  padding: 10px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: auto;
}
@media screen and (min-width: 840px) {
  .grid-o-mne {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto) 20px 20px auto;
    gap: 15px;
    margin: 0 20px;
    padding: 0;
  }
}

.grid-o-mne :first-child {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :first-child {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.grid-o-mne :nth-child(2) {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.grid-o-mne :nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(3) {
    grid-column: 6/7;
    grid-row: 1/2;
  }
}
.grid-o-mne :nth-child(4) {
  grid-column: 1/-1;
  grid-row: 2/3;
  align-self: center;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(4) {
    grid-column: 2/6;
    grid-row: 2/3;
  }
}
.grid-o-mne :nth-child(5) {
  grid-column: 2/-2;
  grid-row: 3/4;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/7;
  }
}
.grid-o-mne :nth-child(6) {
  grid-column: 2/-2;
  grid-row: 4/5;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(6) {
    grid-column: 3/5;
    grid-row: 5/7;
  }
}
.grid-o-mne :nth-child(7) {
  grid-column: 2/-2;
  grid-row: 5/6;
}
@media screen and (min-width: 840px) {
  .grid-o-mne :nth-child(7) {
    grid-column: 5/7;
    grid-row: 4/7;
  }
}

.siema {
  margin: 0;
}
@media screen and (min-width: 840px) {
  .siema {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}

.post-it {
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
  margin: 15px auto;
  background-color: #F6F6F6;
  box-shadow: 0 0 10px rgba(240, 38, 226, 0.3);
}
.post-it--rightrotate {
  rotate: 2deg;
}
.post-it--leftrotate {
  rotate: -1deg;
}
.post-it__content {
  font-size: 16px;
  color: #3c3c3c;
  margin: 0 0 10px 0;
}
.post-it__content--right-align {
  text-align: right;
  margin: 0;
}
@media screen and (min-width: 840px) {
  .post-it {
    max-width: 400px;
  }
}

.card {
  background-color: rgba(154, 107, 107, 0.952);
  padding: 20px;
  margin: 10px;
}
.card__text {
  font-size: 14px;
  margin: 10px 0px;
}
@media screen and (min-width: 840px) {
  .card {
    max-width: 250px;
    margin: 0;
  }
}

.preview-corner {
  width: 20px;
  transform: rotate(45deg);
  fill: rgb(120, 120, 120);
}

button:hover .preview-corner,
button:hover .next-corner {
  fill: rgb(50, 71, 77);
  cursor: pointer;
}

.next-corner {
  width: 20px;
  transform: rotate(225deg);
  fill: #616161;
}

.next {
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}
@media screen and (min-width: 840px) {
  .next {
    margin-right: 30px;
  }
}

.prev {
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}
@media screen and (min-width: 840px) {
  .prev {
    margin-left: 30px;
  }
}

.post-it {
  position: relative;
  min-width: 100px;
  max-width: 400px;
  margin: 10px auto;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0 4px rgba(81, 81, 81, 0.3);
}
.post-it--rightrotate {
  position: relative;
  rotate: 2deg;
}
.post-it--leftrotate {
  position: relative;
  rotate: -1deg;
}
.post-it__content {
  font-size: 16px;
  font-family: "Cutive Mono", monospace;
  color: rgb(50, 71, 77);
  margin: 10px;
}
.post-it__content--right-align {
  text-align: right;
  font-family: "Cutive Mono", monospace;
  color: rgb(50, 71, 77);
  margin: 0;
}
@media screen and (min-width: 840px) {
  .post-it {
    width: 600px;
  }
}

.post-it-blank {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  rotate: -3deg;
  top: 5px;
  z-index: -1;
  left: 50px;
}

.card {
  background-color: rgba(251, 251, 251, 0.8);
  padding: 20px 20px 20px 0;
  margin: 10px;
}
.card__title {
  font-size: 18px;
  border-bottom: 1.3px solid transparent;
  -o-border-image: linear-gradient(0.25turn, rgb(158, 215, 224), rgb(149, 188, 185));
     border-image: linear-gradient(0.25turn, rgb(158, 215, 224), rgb(149, 188, 185));
  border-image-slice: 1;
  width: 100%;
}
.card__text {
  font-size: 14px;
  margin: 10px 0 10px 20px;
}
@media screen and (min-width: 840px) {
  .card {
    max-width: 600px;
    margin: 0;
  }
}

.card__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0 20px;
}

.card__details .card__text {
  margin: 0 0 2px 10px;
}

.card__text--small {
  font-size: 10px;
  margin: 10px 20px;
  max-width: 300px;
  line-height: 1.4;
}

.section-contact-form {
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 840px) {
  .section-contact-form {
    padding: 0px 0 20px 0;
  }
}

.section__text {
  margin: 0 20px;
  max-width: 440px;
  text-decoration: none;
  display: block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding: 20px 20px 0 20px;
}

.contact-form__email, .contact-form__message {
  display: block;
  padding: 1em;
  margin: 5px 0;
  border-radius: 8px;
  border: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);
}

.contact-form__submit {
  align-self: flex-end;
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 5px 0;
  background-color: #616161;
  color: white;
  border: 0px;
  box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.contact-form__submit:hover {
  background-color: black;
}
.contact-form__submit:active {
  background-color: black;
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
}

.grid-contact-details {
  padding: 10px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 840px) {
  .grid-contact-details {
    grid-template-columns: 1fr 270px 240px;
    grid-template-rows: auto;
    gap: 15px;
    margin: 0 20px 20px 20px;
    padding: 0;
  }
}

.grid-contact-details :first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (min-width: 840px) {
  .grid-contact-details :first-child {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
.grid-contact-details :nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (min-width: 840px) {
  .grid-contact-details :nth-child(2) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.grid-contact-details :nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
@media screen and (min-width: 840px) {
  .grid-contact-details :nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}

.offer__container--gd {
  position: relative;
  padding: 0 0 30px 0;
  background-image: linear-gradient(240deg, rgb(29, 29, 29), rgb(5, 5, 5));
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);
}
@media screen and (min-width: 840px) {
  .offer__container--gd {
    max-width: 550px;
    flex: 1 1 50%;
    padding: 0 0 60px 0;
  }
}

.offer__container--vv {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);
}
@media screen and (min-width: 840px) {
  .offer__container--vv {
    max-width: 550px;
    flex: 1 1 50%;
    padding: 0 0 60px 0;
  }
}

.offer__category--gd {
  position: absolute;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(172, 203, 209);
}
@media screen and (min-width: 840px) {
  .offer__category--gd {
    left: -50px;
    padding-left: 100px;
    font-size: 30px;
  }
}

.offer__category--vv {
  position: absolute;
  font-size: 25px;
  border-bottom: 2px solid rgb(79, 125, 136);
}
@media screen and (min-width: 840px) {
  .offer__category--vv {
    right: -50px;
    padding-right: 100px;
    padding-left: 0;
    font-size: 30px;
  }
}

.offer__items {
  padding: 100px 20px 0 20px;
}
@media screen and (min-width: 840px) {
  .offer__items {
    padding: 120px 20px 0 20px;
  }
}

.offer__item {
  padding: 20px;
  margin: 0 auto 20px auto;
  background-color: rgba(39, 39, 39, 0.8);
  box-shadow: 0px 0px 3px rgba(97, 97, 97, 0.3);
  max-width: 500px;
}
@media screen and (min-width: 840px) {
  .offer__item {
    margin: 0 5px 20px 5px;
    flex: 1 0 25%;
    min-height: 410px;
  }
}

.offer__item--vv {
  background-color: rgba(244, 244, 244, 0.8);
  box-shadow: 1px 1px 3px rgba(97, 97, 97, 0.2);
}

.offer__description--gd {
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  min-height: 50px;
}
.offer__description--gd .border-bottom {
  width: 100%;
  border-bottom: 1px solid rgba(97, 97, 97, 0.9);
}

.offer__description--vv {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  min-height: 50px;
}

.offer__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}
@media screen and (min-width: 840px) {
  .offer__item img {
    height: 300px;
  }
}

.offer__invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.offer__invite .offer__invite-text--gd {
  color: rgb(172, 203, 209);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  margin: 0 20px 0px 20px;
  max-width: 450px;
  text-align: center;
}
@media screen and (min-width: 840px) {
  .offer__invite .offer__invite-text--gd {
    font-size: 23px;
  }
}
.offer__invite .offer__invite-text--vv {
  color: rgb(79, 125, 136);
  font-size: 22px;
  line-height: 1.5;
  margin: 0px 20px 0px 20px;
  max-width: 550px;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 840px) {
  .offer__invite .offer__invite-text--vv {
    font-size: 23px;
    max-width: 600px;
  }
}

.button-contact--gd {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  background-color: #616161;
  color: white;
  border: 0px;
  box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.button-contact--gd:hover {
  background-color: rgb(172, 203, 209);
  color: white;
}
.button-contact--gd:active {
  background-color: rgb(158, 215, 224);
  color: white;
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
}
.button-contact--gd a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
}
@media screen and (min-width: 840px) {
  .button-contact--gd {
    display: none;
  }
}

.button-contact--vv {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  background-color: #616161;
  color: white;
  border: 0px;
  box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.button-contact--vv:hover {
  background-color: rgb(79, 125, 136);
}
.button-contact--vv:active {
  background-color: rgb(50, 71, 77);
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
}
.button-contact--vv a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
}
@media screen and (min-width: 840px) {
  .button-contact--vv {
    display: none;
  }
}

.button-contact--vv_gd {
  display: none;
}
@media screen and (min-width: 840px) {
  .button-contact--vv_gd {
    position: absolute;
    left: 41%;
    top: -80px;
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-image: linear-gradient(110deg, rgb(155, 165, 167), rgb(157, 176, 180));
    color: white;
    border: 0px;
    box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .button-contact--vv_gd:hover {
    background-image: linear-gradient(110deg, rgb(240, 38, 226), rgba(75, 38, 240, 0.8));
  }
  .button-contact--vv_gd:active {
    background-color: rgb(50, 71, 77);
    box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
  }
  .button-contact--vv_gd a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
  }
}

.section-co-nabizim {
  background-color: #F6F6F6;
  padding: 40px 0 0 0;
}
@media screen and (min-width: 840px) {
  .section-co-nabizim {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
  }
}

.section-co-nabizim .section__title {
  padding: 20px 0 10px 0;
}

@media screen and (min-width: 840px) {
  .section-offer-container {
    display: flex;
  }
}

.section-napiste-mi {
  position: relative;
}/*# sourceMappingURL=style.css.map */