@use 'colors';
@use 'mixin';


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: colors.$gd;
    padding: 30px;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline;
    padding: 10px 0px 0px 20px;
    text-transform: uppercase;
}

.main-gd p {
    color: white;
    font-weight: 300;
}

// .main-gd h2 {
//     color: colors.$gd;
//     font-weight: 300;
//     border-bottom: 1px solid colors.$gd;
  
// }

// .main-vv h2 {
//     color: colors.$vv;
//     font-weight: 300;
//     border-bottom: 1px solid colors.$vv;
// }

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
   

    // &::after {
    //     content: '';
    //     display: block;
    //     width: 80px;
    //     height: 2px;
    //     background-color: colors.$grey-middle;
    //     margin: 10px auto;
    // }
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
}


p, a {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;

}

strong {
    font-weight: 600;

}


// button language
#toggle-button {
    font-weight: 600;
    padding: 10px;
    margin: 10px 20px 10px 0;
    border-radius: 20px;
    border: 0;

}

.toggle-button--light {
    color:  #3c3c3c;
    background-color:#F6F6F6;
    box-shadow: 0px 0px 5px  #cccccc;

}

.toggle-button--light:hover {
    color: #F6F6F6;
    background-color: #616161;
    
}

.toggle-button--light:active {
    background-color: #3c3c3c;
}


.toggle-button--dark {
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    border: 0;
    color: #F6F6F6;
    background-color:#616161;
}

.toggle-button--dark:hover {
    color: #3c3c3c;
    background-color:  #cccccc;
}

.toggle-button--dark:active {
    background-color: #F6F6F6;
}






