@use 'colors';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: colors.$gd;
    padding: 30px;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 2px solid colors.$gd;
    padding: 10px 0px 10px 30px;
    text-transform: uppercase;
}

    

p, a {
    font-family: 'Raleway', sans-serif;

}

// body na homepage, o mne, kontakt
body {
    background-color: rgb(38, 38, 38);
    background-image: url(/images/wall\ jing\ jang_web_1mb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

