@use 'colors';
@use 'mixin';


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: colors.$gd;
    padding: 30px;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 2px solid colors.$gd;
    padding: 10px 0px 10px 30px;
    text-transform: uppercase;
}

.main-gd p {
    color: white;
    font-weight: 300;
}

.main-gd h2 {
    color: white;
}

.main-vv h2 {
    border-bottom: 2px solid colors.$vv;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;

    &::after {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background-color: colors.$grey-middle;
        margin: 10px auto;
    }
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
}


p, a {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;

}

strong {
    font-weight: 600;

}

mark {
    background-color: rgba(255, 255, 255, 0.4);

}

// body na homepage, o mne, kontakt













