@use 'colors';
@use 'base';
@use 'corners';
@use 'menu';
@use 'body';
@use 'aside';
@use 'section';
@use 'home';
@use 'textbox';
@use 'project';
@use 'footer';
@use 'mixin';
@use 'header';
@use 'omne';
@use 'post-it';






// font-family: 'Big Shoulders Stencil Display', sans-serif;
// font-family: 'Raleway', sans-serif;




@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}



.card {
    background-color: rgba(251, 251, 251, 0.8);
    padding: 20px 20px 20px 0;
    margin: 10px;

    &__title {
        font-size: 18px;
        border-bottom: 1.3px solid transparent;
        // border-image: linear-gradient(0.25turn, rgba(240, 38, 226), rgba(240, 38, 226), rgba(75, 38, 240), rgba(75, 38, 240, 0.8));
        border-image: linear-gradient(0.25turn, rgba(158, 215, 224, 1), rgba(149, 188, 185, 1));

        border-image-slice: 1;
       
        width:100%;
    }


    &__text {
    font-size: 14px;
    margin: 10px 0 10px 20px;

    }
    @include tablet {
    max-width: 600px;
    margin: 0;
    
    }
}


.card__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 0 20px;

    // @include tablet {
    //     margin: 0 0 0 150px;
    // }

}

.card__details .card__text {
    margin: 0 0 2px 10px;
}
.card__text--small {
    font-size: 10px;
    margin: 10px 20px;
    max-width: 300px;
    line-height: 1.4;

    // @include tablet {
    //     margin: 10px 0 0 170px;
    // }
}

