@use 'colors';
@use 'base';
@use 'corners';
@use 'menu';
@use 'body';
@use 'aside';
@use 'section';
@use 'home';
@use 'textbox';
@use 'project';
@use 'footer';
@use 'mixin';
@use 'header';
@use 'omne';
@use 'post-it';
@use 'card';
@use 'kontakt';
@use 'offer';



// font-family: 'Big Shoulders Stencil Display', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Big Shoulders Stencil Display', sans-serif;




@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}


// section title - uzsi --------

.section-co-nabizim {
    // background-color: colors.$grey-superlight;
    padding: 40px 0 0 0;

    @include tablet {
        max-width: 800px;
        padding: 0;
        margin: 0 auto;
    }
}

.section-co-nabizim .section__title {
    padding: 20px 0 10px 0;
} 


.section-offer-container {
    background-image: url(/images/gd_wall-upto800.jpg);
    background-repeat: repeat;
   
    @include tablet {
        background-image: none; 
       display: flex;
    }
}

.section-napiste-mi {
    position: relative;
}
