

//barvy
// $primary: #00ff84;
// $danger: red;
// $success: rgb(13, 210, 75);
// $info: rgb(133, 133, 244);

//barvy
$gd:rgb(240, 38, 226);
$gd2:rgb(197, 32, 186);
$vv:rgb(75, 38, 240);
$vv2: rgb(54, 26, 177);

$grey-superlight: #F6F6F6;
$grey-middle:  #616161; 
$grey-dark: #3c3c3c;
$grey-superdark: #242424;