
//barvy
// $primary: #00ff84;
// $danger: red;
// $success: rgb(13, 210, 75);
// $info: rgb(133, 133, 244);

//barvy

$gd:rgb(255, 255, 255);
$gd2:rgb(255, 255, 255);
$vv:rgb(0, 0, 0);
$vv2: rgb(0, 0, 0);
// $gd:rgb(240, 38, 226);
// $gd2:rgb(197, 32, 186);
// $vv:rgb(75, 38, 240);
// $vv2: rgb(54, 26, 177);

$gd:rgb(172, 203, 209);
$gd2:rgba(158, 215, 224, 1);
$vv:rgb(79, 125, 136);
$vv:rgb(58, 107, 119);
$vv2: rgb(50, 71, 77);

$grey-superlight: #F6F6F6;
$grey-light: #cccccc;
$grey-middlelight:  #b9b9b9; 
$grey-middle:  #616161; 
$grey-dark: #3c3c3c;
$grey-superdark: #242424;

$non-photo-blue: rgba(158, 215, 224, 1);
$cambridge-blue: rgba(149, 188, 185, 1);


$fluorescent-cyan: rgba(11, 227, 237, 1);
$robin-egg-blue: rgba(20, 210, 226, 1);
$caribbean-current: rgba(21, 108, 124, 1);
$midnight-green: rgba(5, 73, 88, 1);
$gunmetal: rgba(24, 47, 51, 1)