@use 'mixin';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}

//-----corners--------------------------------------------
.item-corner1, .item-corner2, .item-corner3, .item-corner4{
    position: absolute;
    width: 0.5em;
}

.menu__item .item-corners, 
.submenu .item-corners, 
.submenu__item .item-corners {
    opacity: 0%;

    @include tablet {
    opacity: 100%;

    }
}

// // invert
// .item-corners--invert {
//     opacity: 0%;

//     @media (min-width: 660px) {
//     opacity: 100%;
//     // fill: white;
//     }
// }

//--------------------
.item-corner1 {
    top: 0px;
    left: 0px;
    transform: rotate(90deg);   
}

.item-corner2 {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}

.item-corner3 {
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}

.item-corner4 {
    bottom: 0;
    left: 0;
}

//submenu hover a active - posun rohu

.submenu:hover .item-corner3 {
    @include tablet {
    right: -5px;
    bottom: -107px;
    }    
}

.submenu:active #subcorner3 {
    @include tablet {
    right: -10px;
    bottom: -109px;
    }    
}

.submenu:hover .item-corner4 {
    @include tablet {
    left: -5px;
    bottom: -107px;
    }    
}

.submenu:active #subcorner4 {
    @include tablet {
    left: -10px;
    bottom: -109px;
    }    
}

// gd a vv

.submenu--vv:hover .item-corner3,
.submenu--gd:hover .item-corner3 {
    @include tablet {
    right: -5px;
    bottom: -53px;
    }    
}

.submenu--vv:active #subcorner3,
.submenu--gd:active #subcorner3 {
    @include tablet {
    right: -5px;
    bottom: -53px;
    }    
}

.submenu--vv:hover .item-corner4,
.submenu--gd:hover .item-corner4 {
    @include tablet {
    left: -5px;
    bottom: -53px;
    }    
}

.submenu--vv:active #subcorner4,
.submenu--gd:active #subcorner4 {
    @include tablet {
    left: -5px;
    bottom: -53px;
    }    
}





//  aktivni tlacitko - posun rohu
.menu__item--active .item-corner1,
.submenu--active .item-corner1,
.submenu--gd .item-corner1,
.submenu--vv .item-corner1 {
    @include tablet {
    top: -5px;
    left: -5px;
    }
}

.menu__item--active .item-corner2,
.submenu--active .item-corner2,
.submenu--gd .item-corner2,
.submenu--vv .item-corner2 {
    @include tablet {
    top: -5px;
    right: -5px;
    }
}

.menu__item--active .item-corner3,
.submenu--active .item-corner3,
.submenu--gd .item-corner3,
.submenu--vv .item-corner3 {
    @include tablet {
    bottom: -5px;
    right: -5px;
    }
}

.menu__item--active .item-corner4,
.submenu--active .item-corner4,
.submenu--gd .item-corner4,
.submenu--vv .item-corner4 {
    @include tablet {
    bottom: -5px;
    left: -5px;
    }
}



// //  aktivni tlacitko - posun rohu
.menu__item:active .item-corner1,
.submenu:active .item-corner1 {
    @include tablet {
    top: -5px;
    left: -5px;
    }
}

.menu__item:active .item-corner2,
.submenu:active .item-corner2 {
    @include tablet {
    top: -5px;
    right: -5px;
    }
}

.menu__item:active .item-corner3,
.submenu:active .item-corner3 {
    @include tablet {
    bottom: -5px;
    right: -5px;
    }
}

.menu__item:active .item-corner4,
.submenu:active .item-corner4 {
    @include tablet {
    bottom: -5px;
    left: -5px;
    }
}

// project corners
.project--vv .item-corner1,
.project--gd .item-corner1 {
    top: -10px;
    left: -10px; 
}

.project--vv .item-corner2,
.project--gd .item-corner2 {
    top: -10px;
    right: -10px; 
}

.project--vv .item-corner3,
.project--gd .item-corner3 {
    bottom: -10px;
    right: -10px; 
}

.project--vv .item-corner4,
.project--gd .item-corner4 {
    bottom: -10px;
    left: -10px; 
}