@use 'mixin';
@use 'colors';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}

//-----corners--------------------------------------------
.item-corner1, .item-corner2, .item-corner3, .item-corner4{
    position: absolute;
    width: 0.5em;
}

.menu__item-new .item-corners, 
.submenu-new .item-corners, 
.submenu__item-new.item-corners {
    opacity: 0%;

    @include tablet {
    opacity: 100%;

    }
}

// // invert
// .item-corners--invert {
//     opacity: 0%;

//     @media (min-width: 660px) {
//     opacity: 100%;
//     // fill: white;
//     }
// }

//--------------------
.item-corner1 {
    top: 0px;
    left: 0px;
    transform: rotate(90deg);   
}

.item-corner2 {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}

.item-corner3 {
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}

.item-corner4 {
    bottom: 0;
    left: 0;
}

// submenu calm



//submenu hover a active - posun rohu

.submenu-new:hover .item-corner3 {
    @include tablet {
    right: -5px;
    bottom: -115px;
    }    
}

.submenu-new:active #subcorner3 {
    @include tablet {
    right: -10px;
    bottom: -117px;
    }    
}

.submenu-new:hover .item-corner4 {
    @include tablet {
    left: -5px;
    bottom: -115px;
    }    
}

.submenu-new:active #subcorner4 {
    @include tablet {
    left: -10px;
    bottom: -117px;
    }    
}

// gd a vv


.submenu-new--vv:hover .item-corner3,
.submenu-new--gd:hover .item-corner3 {
    @include tablet {
    right: -5px;
    bottom: -58px;
    }    
}

.submenu-new--vv:active #subcorner3,
.submenu-new--gd:active #subcorner3 {
    @include tablet {
    right: -7px;
    bottom: -60px;
    }    
}

.submenu-new--vv:hover .item-corner4,
.submenu-new--gd:hover .item-corner4 {
    @include tablet {
    left: -5px;
    bottom: -58px;
    }    
}

.submenu-new--vv:active #subcorner4,
.submenu-new--gd:active #subcorner4 {
    @include tablet {
    left: -7px;
    bottom: -60px;
    }    
}





//  aktivni tlacitko - posun rohu
.menu__item-new--active .item-corner1,
.submenu-new--active .item-corner1,
.submenu-new--gd .item-corner1,
.submenu-new--vv .item-corner1 {
    @include tablet {
    top: -3px;
    left: -3px;
    }
}



.menu__item-new--active .item-corner2,
.submenu-new--active .item-corner2,
.submenu-new--gd .item-corner2,
.submenu-new--vv .item-corner2 {
    @include tablet {
    top: -3px;
    right: -3px;
    }
}

.menu__item-new--active .item-corner3,
.submenu-new--active .item-corner3,
.submenu-new--gd .item-corner3,
.submenu-new--vv .item-corner3 {
    @include tablet {
    bottom: -3px;
    right: -3px;
    }
}

.menu__item-new--active .item-corner4,
.submenu-new--active .item-corner4,
.submenu-new--gd .item-corner4,
.submenu-new--vv .item-corner4 {
    @include tablet {
    bottom: -3px;
    left: -3px;
    }
}



// //  aktivni tlacitko - posun rohu
.menu__item-new:active .item-corner1,
.submenu-new:active .item-corner1 {
    @include tablet {
    top: -5px;
    left: -5px;
    }
}

.menu__item-new:active .item-corner2,
.submenu-new:active .item-corner2 {
    @include tablet {
    top: -5px;
    right: -5px;
    }
}

.menu__item-new:active .item-corner3,
.submenu-new:active .item-corner3 {
    @include tablet {
    bottom: -5px;
    right: -5px;
    }
}

.menu__item-new:active .item-corner4,
.submenu-new:active .item-corner4 {
    @include tablet {
    bottom: -5px;
    left: -5px;
    }
}

// project corners
.project--vv .item-corner1,
.project--gd .item-corner1 {
    top: -10px;
    left: -10px; 
}

.project--vv .item-corner2,
.project--gd .item-corner2 {
    top: -10px;
    right: -10px; 
}

.project--vv .item-corner3,
.project--gd .item-corner3 {
    bottom: -10px;
    right: -10px; 
}

.project--vv .item-corner4,
.project--gd .item-corner4 {
    bottom: -10px;
    left: -10px; 
}


// offer corners

.offer__container--gd .item-corner1,
.offer__container--vv .item-corner1 {
    top: 10px;
    left: 10px; 
}

.offer__container--gd .item-corner2,
.offer__container--vv .item-corner2 {
    top: 10px;
    right: 10px; 
}

.offer__container--gd .item-corner3,
.offer__container--vv .item-corner3 {
    bottom: 10px;
    right: 10px;
}

.offer__container--gd .item-corner4,
.offer__container--vv .item-corner1 {
    bottom: 10px;
    left: 10px; 

}

.offer__container--gd .item-corner1,
.offer__container--gd .item-corner2,
.offer__container--gd .item-corner3,
.offer__container--gd .item-corner4 {
    fill: white;
}

// .offer__container--vv .item-corner1,
// .offer__container--vv .item-corner2,
// .offer__container--vv .item-corner3,
// .offer__container--vv .item-corner4 {
//     fill: colors.$vv;
// }

