@use 'colors';
@use 'mixin';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}

// site-header na homepage, o mne, kontakt


.site-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: colors.$grey-superlight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;

    :first-child {
        order: 2;
    }

    :nth-child(2) {
        order: 1;
    }

    :nth-child(3) {
        order: 3;
    }

    @include tablet {
        max-width: 800px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        position: relative;
   
      

        :first-child {
            order: 1;
        }
    
        :nth-child(2) {
            order: 2;
        }
    
        :nth-child(3) {
            order: 3;
        }
    }
}
///// NEW!!

.site-header-new {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-image: url(/images/gd_wall-upto800.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    :first-child {
        order: 2;
    }

    :nth-child(2) {
        order: 1;
    }

    :nth-child(3) {
        order: 3;
    }

    @include tablet {
        max-width: 800px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        background-image: none;

   
      

        :first-child {
            order: 3;
            flex: 1 1 100%;
        }
    
        :nth-child(2) {
            order: 1;
            flex: 0 1 50%;
        }
    
        :nth-child(3) {
            order: 2;
        }
    }
}

//site-header-new-homepage

// homepage --------


.site-header-new--homepage {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-image: url(/images/vv_wall-upto800.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    :first-child {
        order: 2;
    }

    :nth-child(2) {
        order: 1;
    }

    :nth-child(3) {
        order: 3;
    }

    @include tablet {
        max-width: 800px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        background-image: none;

   
      

        :first-child {
            order: 3;
            flex: 1 1 100%;
        }
    
        :nth-child(2) {
            order: 1;
            flex: 0 1 50%;
        }
    
        :nth-child(3) {
            order: 2;
        }
    }
}

// hamburgermenu homepage

.site-header-new--homepage .hamburger-menu {
    fill: black;
}


.site-header-new--homepage .logo-new-black {
    @include tablet { 
        display: none;

    }

}

.site-header-new--homepage .logo-new-white {
    display: none;
    @include tablet { 
        display: inherit;

    }

}

// logo s ruzkem ----------
.site-header__homelink {
    position: relative;
}

.site-header__homelink .item-corner2 {
    display: none;
        @include tablet {
            display: block;
            position: absolute;
            top: 5px;
            left: 200px;
            fill: white;
            }
}

.site-header__logo-new {
    display: flex;
    width: 160px;
    margin: 10px;
    align-items: center;

    @include tablet {
        padding: 10px 10px 10px 0px;
        width: 200px;
    }    

}

//-------------

.site-header__logo {
    display: flex;
    width: 160px;
    margin: 10px;
    align-items: center;

    @include tablet {
        padding: 20px 20px 20px 30px;
        width: 200px;
    }    

}
// ----- vv 
#site-header--vv {
    position: fixed;
    z-index: 1;
    top: 0;

    @include tablet {
    margin: 0;
    max-width: 100%;
    height: 70px;
    background-color: rgba(247, 247, 247, 0.9);

    
    } 
}

#site-header--vv  .site-header__logo{
    @include tablet {
        flex: 1 0 50%;  
}
}

#site-header--vv  .nav{
    @include tablet {
        flex: 1 0 40%;  
}
}

.nav .menu-vv {
    @include tablet {
    justify-content: flex-end;
}
}



// ----- gd 
#site-header--gd {
    position: fixed;
    top: 0;
    background-color: rgba(24, 24, 24, 0.9);

    @include tablet {
    margin: 0;
    max-width: 100%;
    height: 70px;
    }
    
}

#site-header--gd  .site-header__logo{
    fill: white;

    @include tablet {
        flex: 1 0 50%;
    }
}

#site-header--gd  .nav{

    @include tablet {
        flex: 1 0 40%;  
    }   
}

.nav .menu-gd {
    @include tablet {
        justify-content: flex-end;
    }
}

#hamburger-menu-gd {
    fill: white;
}


// language --------------
.language {
    text-decoration: none;
    padding: 15px 20px 0px 0px;
    color: rgb(195, 195, 195);
    font-size: 15px;
    font-weight: 500;
    align-self: flex-start;

    //nevidelny
    opacity: 0;


    @include tablet {
        font-size: 14px; 
        flex-shrink: 1;
        color: black;

       
    } 

}

.language--gd {
    text-decoration: none;
    padding: 15px 20px 0px 0px;
    color: rgb(195, 195, 195);
    font-size: 15px;
    font-weight: 400;
    align-self: flex-start;

    //nevidelny
    opacity: 0;


    @include tablet {
        font-size: 14px; 
        flex-shrink: 1;
       
    } 

}