@use 'colors';
@use 'mixin';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}


// homepage ----------------------------

.section-hero {
    padding-top: 40px;
    max-width: 100%;

    
    @include tablet {
        padding-top: 0px;
        background-image: none;        

}

}


.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 550px;
    padding: 0 0 20px 0;
    
    
   
}

.main-photo  {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    background-image: url(/images/vv_wall-upto800.png);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);

    @include tablet { 
        background-image: none;
    }

}

// container 
.container-homepage {
    display: flex;
    flex-direction: column;
    max-width: 100%;


    @include tablet { 
    flex-direction: row;
}
}


.box-gd {
    display: flex;  
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  

    @include tablet { 
        flex-direction: column;
        max-width: 400px; 
    }
}

   
   

.box-vv {
    background-image: url(/images/vv_wall-upto800.png);
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    padding: 70px 0 0 0 ;
    max-width: 100%;





    @include tablet { 
        background-image: none;
        max-width: 400px;


    }
}



// cedule / sipky
.button-sign__gd-link img {
    height: 70px;
    max-width: 100%;

    @include tablet { 
    margin-right: 120px;
    }
  
}

.button-sign__vv-link img {
    max-width: 100%;

    max-height: 70px;


}

.button-sign__gd, .button-sign__vv {
    transition: 0.3s;
} 

 .button-sign__gd:hover { 
       transform: translate(-10px, 0);
    }  
    
    .button-sign__vv:hover { 
        transform: translate(10px, 0);
     } 

.box-vv .button-sign__vv, .box-gd .button-sign__gd {
    max-width: 100%;

    @include tablet { 
    max-width: 250px;
    margin:0 auto;
}


}

.grid-homepage .textbox  { 
    max-width: 100%;

    @include tablet { 
    max-width: 400px;
}


}
