@use 'colors';
@use 'mixin';
@use 'corners';


@mixin tablet {
  @media screen and (min-width: 840px) {
      @content;
  }
}

// container ------------------


.offer__container--gd {
  position: relative;
  padding: 0 0 30px 0;
  background-image: linear-gradient(240deg, rgba(29, 29, 29, 1), rgba(5, 5, 5, 1));
  box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);
  
 

  @include tablet { 
    max-width: 550px;
    flex: 1 1 50%;
    padding: 0 0 60px 0;
    }

}

.offer__container--vv {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    box-shadow: 0 0 4px rgba(59, 59, 30, 0.3);

    @include tablet { 
      max-width: 550px;
      flex: 1 1 50%;
      padding: 0 0 60px 0;
    }
   
  }

// kategorie


.offer__category--gd {
  position: absolute;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid colors.$gd;


    @include tablet { 
    left: -50px;
    padding-left: 100px;
    font-size: 30px;
   
    
    }
}

.offer__category--vv {
  position: absolute;
  font-size: 25px;
  border-bottom: 2px solid colors.$vv;

    @include tablet { 
    right: -50px;
    padding-right: 100px;
    padding-left: 0;
    font-size: 30px;
  

    

    
    }
}

//--------------------------------

// offer items div - vsechny polozky


.offer__items {
  padding: 100px 20px 0 20px;

  @include tablet { 
    padding: 120px 20px 0 20px;

  }

}

.offer__item {
  padding: 20px;
  margin: 0 auto 20px auto;
  background-color: rgba(39, 39, 39, 0.8);
  box-shadow: 0px 0px 3px rgba(colors.$grey-middle, 0.3);
  max-width: 500px;


  @include tablet { 
    margin: 0 5px 20px 5px;
    flex: 1 0 25%;
    min-height: 410px;
   

  }
}

.offer__item--vv {
  background-color: rgba(244, 244, 244, 0.8);
  box-shadow: 1px 1px 3px rgba(colors.$grey-middle, 0.2);

}



.offer__description--gd {
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  min-height: 50px;
  
  // background-image: linear-gradient(160deg, rgba(241, 183, 236, 0.2), rgba(251, 77, 251, 0.1));
  // position: relative;

  


  // &::after {
  //   content: "";
  //   background: rgba(colors.$gd, 0.9);
  //   position: absolute;
  //   bottom: 0;
  //   left: 15%;
  //   width: 70%;
  //   height: 1px;
  // }

  .border-bottom {
    width: 100%;
    border-bottom: 1px solid rgba(colors.$grey-middle, 0.9);
  }

}



.offer__description--vv {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  min-height: 50px;
  //  background-image: linear-gradient(160deg, rgba(61, 36, 131, 0.093), rgba(245, 241, 255, 0.179));

}

// .border-bottom--vv {
//   width: 100%;
//   border-bottom: 1px solid rgba(colors.$vv, 0.9);
// }



.offer__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    

    @include tablet {
      height: 300px;
    }


}





// invite -------------

.offer__invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;


  .offer__invite-text--gd {
      color: colors.$gd;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.5;
      margin: 0 20px 0px 20px;
      max-width: 450px;
      text-align: center;

      @include tablet {
        font-size: 23px;
     }
  }

  .offer__invite-text--vv {
      color: colors.$vv;
      font-size: 22px;
      line-height: 1.5;
      margin: 0px 20px 0px 20px;
      max-width: 550px;
      text-align: center;
      font-weight: 300;

      @include tablet {
        font-size: 23px;
        max-width: 600px;
     }
  }
}

//  buttons ----------------------

.button-contact--gd {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  background-color: colors.$grey-middle;
  color: white;
  border: 0px;
  box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;


  &:hover {
      background-color: colors.$gd;
      color: white;
  }

  &:active {
      background-color: colors.$gd2;
      color: white;
      box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
  }

  & a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      color: white;
  }

  @include tablet {
    display: none;
  }
}


.button-contact--vv {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  background-color: colors.$grey-middle;
  color: white;
  border: 0px;
  box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;

  &:hover {
      background-color: colors.$vv;
  }

  &:active {
      background-color: colors.$vv2;
      box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
  }

  & a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      color: white;
  }

  @include tablet {
    display: none;
  }

}

.button-contact--vv_gd {
  display: none;

  @include tablet {
    position: absolute;
    left: 41%;
    top: -80px;
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-image: linear-gradient(110deg, rgba(240, 38, 226), rgba(75, 38, 240));
    color: white;
    border: 0px;
    box-shadow: 0 0 2px rgba(59, 59, 30, 0.6);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      background-image: linear-gradient(110deg, rgba(240, 38, 226), rgba(75, 38, 240, 0.8));
  }

    &:active {
      background-color: colors.$vv2;
      box-shadow: 0 0 4px rgba(59, 59, 30, 0.9);
  }

    & a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      color: white;
  }
    
  }
}

