@use 'colors';
@use 'mixin';
@use 'corners';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}



//portfolio

.category {
    padding: 0;
    margin: 0;
    @include tablet { 
    margin-left: 300px;
}
}

.category__name--gd, .category__name--vv {
    font-weight: 100;
    font-size: 30px;

    @include tablet { 
        font-size: 45px;
    }

}

.category__name--gd {
    color: rgb(134, 134, 134);
    border-bottom: 1px solid  rgb(134, 134, 134);

}

.category__name--vv {
    color: rgb(134, 134, 134);
    border-bottom: 1px solid  rgb(134, 134, 134);
}



// project vv - specifika
.project--vv {
    position: relative;
    margin: 30px 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    // box-shadow: 1px 1px 15px rgba(colors.$vv, 0.5);
    

   @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    // max-width: 550px;
    }

}
.project--vv .item-corners {
    fill: colors.$vv;
}


//project gd - specifika 

.project--gd {
    position: relative;
    margin: 30px 20px;
    padding: 20px;
    background-color: rgba(27, 27, 27, 0.8);
    // box-shadow: 1px 1px 15px rgba(colors.$gd, 0.2);



   @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    max-width: 1200px;
    }

}
.project--gd .item-corners {
    fill: colors.$gd;
}  


// vv gallery  flexbox overflow > flexbox ------------------------------------
.container-gallery {
    display: flex;
    overflow-x: auto;
    // padding-bottom: 5px;
    // border-top: 1px solid rgb(201, 201, 201);
    // border-bottom: 1px solid rgb(201, 201, 201);
 

    @include tablet { 
    overflow-x: none;
    border-top: none;
    border-bottom: none;
    margin: 0 0 20px 0;
    padding-left: 0px;
    // flex: 0 0 100%
 
  
    }
}

.gallery__item-preview {
    padding-right: 5px;
     min-width: 170px;
     height: 150px;
   

     @include tablet {
        width: 240px;
        height: 220px;
     }
 }
 
 .gallery__item-preview img {
    
     // @include tablet {
     object-fit: cover;
     width: 100%;
     height: 100%;
     object-position: center left;
     // }
 }

// ------------------------------------------------

// gd gallery   flexbox overflow > grid------------------------------------

.grid-gallery {
    display: flex;
    overflow-x: auto;
    // padding-bottom: 5px;
    // border-top: 1px solid rgb(201, 201, 201);
    // border-bottom: 1px solid rgb(201, 201, 201);
 

    @include tablet { 
    overflow-x: none;
    border-top: none;
    border-bottom: none;
    display: grid;
	gap: 10px;
	grid-template-columns: repeat(6, minmax(150px, 200px));
    grid-template-rows: repeat(1, minmax(150px, 200px));
    margin: 0 0 20px 0;
    padding-left: 0px;
    }

    :first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    :nth-child(3) {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    :nth-child(4) {
        grid-column: 5 / 7;
        grid-row: 1 / 2;
    }
}


.gallery__item-preview--grid {
    padding-right: 5px;
   
}

.gallery__item-preview--grid img {
   
    // @include tablet {
    object-fit: cover;
    width: 100%;
    height: 100%;
    // }
}

//--------------------------------------------


.project__introduction {
    flex: 1 1 60%;
}

// title vv ------------------

.project__title--vv {
    padding: 20px 0 5px 0;
    color: colors.$grey-dark;
   
    
    @include tablet { 
    padding: 0px 30px 5px 20px;
    }
}


.project__line-title--vv  {
    border-top: px solid colors.$vv;
    margin-left: -50px;
}


//  title gd ----------------
.project__title--gd {
    padding: 10px 0 5px 0;
    color: white;
    size: 20px;
    
    
    @include tablet { 
        padding: 0px 30px 5px 10px;
        margin-bottom: 10px;
    }
}

.project__line-title--gd  {
    border-top: 0px solid white;
    margin-left: -50px;
}



.project__description {
    padding: 10px 0;
    margin: 0;

    @include tablet {
    margin: 0 20px;
    }
}

.project__line-description {
    border-top: 1px solid rgb(201, 201, 201);
    margin: 1px;


    @include tablet {
    margin-left: 20px;
    display: none;
    }
}

.project__details {
    margin: 0 0 20px 0;
    @include tablet {
    border-left: 1px solid rgb(201, 201, 201);
    flex: 1 1 40%;
    }
}

.project__details--gd {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
    @include tablet {
    // border-left: 1px solid rgb(201, 201, 201);
    flex: 1 1 40%;

    }
}

.project__details-title {
    padding: 0;
    margin: 20px 0 0 0 ;
    color: colors.$grey-middle;
    line-height: 1.2;
    font-size: 14px;

    @include tablet { 
    padding: 0;
    margin: 0 0 0 20px;
    
    
    }
}
.project__details-text {
    color: colors.$grey-middle;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;

    @include tablet { 
    margin: 0 20px 15px 20px;
    
    }
}


//  project video links -----------------------


.video {
    min-width: 300px;
    max-width: 500px;
    flex-grow: 1;
    margin: 20px;
}

.container-video-buttons {
    display: flex;
    flex-wrap: wrap;
  


    @include tablet { 
    margin-left: 20px;
    }
}

.container-video-buttons--gd {
    display: flex;
    flex-wrap: wrap;
  


    @include tablet { 
    margin-left: 0px;
    }
}

.project__video-link {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // border: 1px solid rgba(colors.$vv, 0.2);
    // border-radius: 5px;
    height: 40px;
    padding: 5px 10px 5px 10px;
    margin: 10px 20px 0 0;


    @include tablet { 
        margin: 0px 10px 10px 0px;
        }

   

    &:hover {
        background: colors.$vv;
        color: white;
        fill: white;
    }

    &:active {
        border: none;
        box-shadow: 1px 1px 5px rgba(colors.$vv, 0.5);
       
    }

}

.project__video-link:hover .project__icon-play,
.project__video-link:hover .project__text-link {
        fill: white;
        color: white;
        }

.project__icon-play {
    height: 20px;
    fill: colors.$vv;
    margin: 0 10px 0 0;

}

.video-button--vv {
    // border: 1px solid rgba(colors.$gd, 0.6);


    &:hover {
        background: colors.$gd2;
        color: white;
        fill: white;
    }

    &:active {
        border: none;
        background: colors.$gd;
        box-shadow: 1px 1px 5px rgba(colors.$gd, 0.5);
       
    }
}


.video-button--vv .project__icon-play {
        fill: white;
    }


 


.project__text-link {
    color: colors.$vv;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}


// ----------------------------------------


// project details gd  -------------------
.square {
    width: 10px;
    fill: white;
}


.project__details-type {
    display: flex;
    margin: 10px 20px 10px 5px;
}

.project__details-type .project__details-text {
    margin: 0 0 0 10px;
    display: block;
}

.details-gd--one {
    display: flex;
    align-items: first baseline;
}

.container-video--buttons--gd {
    display: flex;
    flex-wrap: wrap;
}
