@use 'mixin';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}

.section-hero {
    padding: 0;
    margin: 0;
}


.main-regular {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;




    @include tablet {
     max-width: 800px;
     background-color: transparent;
     background-image: none;
     padding: 0px;

    }
}

.main-wide {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;

 
    @include tablet {
     max-width: 1100px;
     padding-bottom: 0px;
    


    }
}



.main-gd, .main-vv {
    width: 100%;
    padding:  0px;


    @include tablet {
        padding: 0;
        // margin: 100px 0 0 0;
    }
}

section {
    padding: 0px;
}

.section__title {
    text-align: center;
    padding-bottom: 0;
    color: white;
}

.section__title-box {
    position: relative;
    margin-top: 40px;
}

.section__title-box .item-corner3{
    bottom: -5px;
    right: 10px;
    fill: white;
}


 
//  listovani mezi kategoriemi projektu

.anchor {
    display: block;
    height: 60px;
    visibility: hidden; 
    
    @include tablet {
        height: 90px;
    }
}

html {
    scroll-behavior: smooth;
}

// backgrounds

.background__dark {
    // background-color: #000000;
    // background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
    background-image: url(/images/gd_wall-upto800.jpg);
    background-repeat: repeat;
    

    @include tablet {
        background-color: transparent;
        background-image: none;
    }
}

.background__dark2 {
    // background-color: #000000;
    // background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");

    // background-image: url(/images/gd_wall-upto800-darker.jpg);
    // background-repeat: repeat;

    background-color: rgba(24, 24, 24, 0.9);
    

    @include tablet {
        background-color: transparent;
        background-image: none;
    }
}

.background__light {
    // background-color: #ffffff;
    // background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    background-image: url(/images/vv_wall.jpg);
    background-repeat: repeat;


   @include tablet {
       background-color: transparent;
       background-image: none;
   }
}


.background__light2 {
    // background-color: #ffffff;
    // background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    background-color: rgba(247, 247, 247, 0.9);    


   @include tablet {
       background-color: transparent;
   }
}

.background_pattern_dark {
    background-image: url(/images/veraicon_pattern_dark2.png);
}
.background_pattern_light {
    background-image: url(/images/veraicon_pattern_light2.png);
    @include tablet {
        background-image: none;
    }
}