@use 'mixin';

@mixin tablet {
    @media screen and (min-width: 840px) {
        @content;
    }
}

.section-hero {
    padding: 0;
    margin: 0;
}


.main-regular {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    // background-image: url(/images/gd_wall-upto800.jpg);
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
    // background-size: repeat;


    @include tablet {
     max-width: 800px;
     background-color: rgb(0, 0, 0, 0);
     background-image: none;
     padding: 0px;

    }
}

.main-wide {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    // background-image: url(/images/wall_white_top.png);
    // background-size: cover;

    @include tablet {
     max-width: 1100px;
     padding-bottom: 0px;
     background-color: (0, 0, 0, 0);


    }
}



.main-gd, .main-vv {
    width: 100%;
    padding:  0px;


    @include tablet {
        padding: 0;
        // margin: 100px 0 0 0;
    }
}

section {
    padding: 0px;
}

.section__title {
    text-align: center;
    padding-bottom: 0;
    color: white;
}

.section__title-box {
    position: relative;
    margin-top: 40px;
}

.section__title-box .item-corner3{
    bottom: -5px;
    right: 10px;
    fill: white;
}


 
//  listovani mezi kategoriemi projektu

.anchor {
    display: block;
    height: 40px;
    visibility: hidden; 
    
    @include tablet {
        height: 90px;
    }
}

html {
    scroll-behavior: smooth;
}


