
<div class="project--vv">
   

        <div class="container-gallery">
      
            <a data-fslightbox="1vv" class="gallery__item-preview" href="/images/vv-projects/1/full/1_nemoc.jpg"><img  src="/images/vv-projects/1/preview/1_nemoc.jpg" alt="foto1"></a>
    
            <a data-fslightbox="1vv" class="gallery__item-preview" href="/images/vv-projects/1/full/2_nemoc.jpg"><img src="/images/vv-projects/1/preview/2_nemoc.jpg" alt="foto2"></a>
        
            <a data-fslightbox="1vv" class="gallery__item-preview" href="/images/vv-projects/1/full/3_nemoc.jpg"><img src="/images/vv-projects/1/preview/3_nemoc.jpg" alt="foto3"></a>
        
            <a data-fslightbox="1vv" class="gallery__item-preview" href="/images/vv-projects/1/full/4_nemoc.jpg"><img src="/images/vv-projects/1/preview/4_nemoc.jpg" alt="foto4"></a>
    
        </div>
       

        <div class="project__introduction">
            <h5 class="project__title--vv">Illness</h5>
       
     
            <p class="project__description">Within the framework of the art series Illness, a set of thematic works were created, from which selected works were exhibited in the premises of Our Café located in the Thomayer Hospital. Subjects: How can I catch a bacillus / Mr. (Mrs.) Disease / Viruses / In the doctor's office / Fighting the virus / Touch treatment / Healthy still life / In bed
            </p>
            <hr class="project__line-description" width="200px"/>
        </div>


        

        <div class="project__details">
           
                 <h4 class="project__details-title">Art project</h4>
                <p class="project__details-text">realized within the subject Drawing, painting, graphics</p>

                <h4 class="project__details-title">Art technique</h4>
                <p class="project__details-text">assemblage, graphics, drawing, painting, collage</p>

                <h4 class="project__details-title">Educational fields</h4>
                <p class="project__details-text">art education, health education</p>

                <h4 class="project__details-title">Age category</h4>
                <p class="project__details-text">6-9 years</p>

                <h4 class="project__details-title">Place of implementation</h4>
                <p class="project__details-text">Elementary Art School Musicart, 2016</p>
                
        </div>


   

</div>
