
<div class="project--vv">

       
        <div class="container-gallery">
      
            <a data-fslightbox="3vv" class="gallery__item-preview" href="/images/vv-projects/3/full/1.jpg"><img  src="/images/vv-projects/3/preview/1.jpg" alt="foto1"></a>
    
            <a data-fslightbox="3vv" class="gallery__item-preview" href="/images/vv-projects/3/full/2.jpg"><img src="/images/vv-projects/3/preview/2.jpg" alt="foto2"></a>
        
            <a data-fslightbox="3vv" class="gallery__item-preview" href="/images/vv-projects/3/full/3.jpg"><img src="/images/vv-projects/3/preview/3.jpg" alt="foto3"></a>
        
            <a data-fslightbox="3vv" class="gallery__item-preview" href="/images/vv-projects/3/full/4.jpg"><img src="/images/vv-projects/3/preview/4.jpg" alt="foto4"></a>
    
            <a data-fslightbox="3vv" class="gallery__item-preview" href="/images/vv-projects/3/full/5.jpg"><img src="/images/vv-projects/3/preview/5.jpg" alt="foto4"></a>
    
        </div>


        
        <div class="project__introduction">
            <h5 class="project__title--vv">In The Ocean</h5>

            <p class="project__description">The digital atelier "In the Ocean" introduces students to the two faces of the ocean - the optimal and the real. Firstly, using interactive educational applications, pupils have the opportunity to observe and gain information about the form and life of marine animals, which then leads to the study of a classic painting of a real animal and a digital painting of their own deep-sea creature, which is then "animated" by a dramatic play recorded in the form of a video. Subsequently, the reality of ocean pollution is brought into focus by incorporating plastic litter into the creation, with students being asked to 'cook' a meal from plastic litter and make a short film, photograph or create a poster to reflect the knowledge they have gained and their attitude towards this global problem.
            </p>
            <hr class="project__line-description" width="200px"/>
        </div>


     

        <div class="project__details">
            <h4 class="project__details-title">Digital atelier</h4>
            <p class="project__details-text">designed and implemented within the European project <a href="https://www.appyourschool.eu">App Your School</a></p>

            <h4 class="project__details-title">Art technique</h4>
            <p class="project__details-text">malba, objektová tvoba, fotografie, video</p>

            <h4 class="project__details-title">Educational fields</h4>
            <p class="project__details-text">výtvarná výchova, environmentální výchova, výchova k myšlení v evropských a globálních souvislostech </p>

            <h4 class="project__details-title">Age category</h4>
            <p class="project__details-text">10-11 years</p>

            <h4 class="project__details-title">Place of implementation</h4>
            <p class="project__details-text">Elementary Art School Musicart, 2019</p>
        </div>


    

</div>
