
<div class="project--vv">

        <div class="container-gallery">
      
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/1.jpg"><img  src="/images/vv-projects/6/preview/1.jpg" alt="foto1"></a>
    
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/2.jpg"><img src="/images/vv-projects/6/preview/2.jpg" alt="foto2"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/3.jpg"><img src="/images/vv-projects/6/preview/3.jpg" alt="foto3"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/4.jpg"><img src="/images/vv-projects/6/preview/4.jpg" alt="foto4"></a>

            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/5.jpg"><img src="/images/vv-projects/6/preview/5.jpg" alt="foto5"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/6.jpg"><img src="/images/vv-projects/6/preview/6.jpg" alt="foto6"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/7.jpg"><img src="/images/vv-projects/6/preview/7.jpg" alt="foto7"></a>
    
        </div>
       


        <div class="project__introduction">  
           
            <h5 class="project__title--vv">From Sketch to Object and Sculpture / to the exhibition Ivan Meštrović (1883-1962) Sculptor and World Citizen</h5>
            
            

            <p class="project__description">The art workshops focused on the life and work of Ivan Meštrović and brought closer the theory and practice of sculpture, its traditional methods and procedures. In addition, small sculptures inspired by the artist's work, designed by the visitors, were virtually transferred to public spaces in different parts of the world using new media. One of the main stimuli was cosmopolitanism, related to the artist's extensive international and travel experiences. So-called "living sculptures" were also realized - stylizing themselves into the compositions of Meštrović's sculptural works, including their various variations and paraphrases. 
            </p>
            <hr class="project__line-description" width="200px"/>
        </div>



        <div class="project__details">            <h4 class="project__details-title">ART WORKSHOPS</h4>
            <p class="project__details-text">implemented as part of interactive tours for schools and Saturday Art Workshops for the general public</p>

            <h4 class="project__details-title">ART TECHNIQUE</h4>
            <p class="project__details-text">drawing, sculpture, photography</p>

            <h4 class="project__details-title">EDUCATIONAL FIELDS</h4>
            <p class="project__details-text">art education, education for citizenship, art culture</p>

            <h4 class="project__details-title">AGE CATEGORY</h4>
            <p class="project__details-text">from 9 years</p>

            <h4 class="project__details-title">Place of implementation</h4>
            <p class="project__details-text">Prague City Gallery, 2022</p>
        </div>
   

</div>
