
<div class="project--vv">

        <div class="container-gallery">
      
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/1.jpg"><img  src="/images/vv-projects/6/preview/1.jpg" alt="foto1"></a>
    
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/2.jpg"><img src="/images/vv-projects/6/preview/2.jpg" alt="foto2"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/3.jpg"><img src="/images/vv-projects/6/preview/3.jpg" alt="foto3"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/4.jpg"><img src="/images/vv-projects/6/preview/4.jpg" alt="foto4"></a>

            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/5.jpg"><img src="/images/vv-projects/6/preview/5.jpg" alt="foto5"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/6.jpg"><img src="/images/vv-projects/6/preview/6.jpg" alt="foto6"></a>
        
            <a data-fslightbox="6vv" class="gallery__item-preview" href="/images/vv-projects/6/full/7.jpg"><img src="/images/vv-projects/6/preview/7.jpg" alt="foto7"></a>
    
        </div>
       
        <div class="project__introduction">           
           
            <h5 class="project__title--vv">Od skici k objektu a soše / k&nbspvýstavě Ivan Meštrović (1883-1962) Sochař a světoobčan</h5>
            
            

            <p class="project__description">Výtvarné dílny se zaměřily na život a dílo Ivana Meštroviće a přiblížily teorii a praxi sochařství, jeho tradiční metody a postupy. Kromě toho byly návštěvníky vytvořené drobné plastiky, inspirované umělcovým dílem, virtuálně přeneseny do veřejných prostor v různých částech světa s využitím nových médií. Jedním z hlavních podnětů byl kosmopolitismus, související s umělcovými bohatými mezinárodními a cestovatelskými zkušenostmi. Realizovány byly i takzvané „živé sochy“ - stylizující se do kompozic Meštrovićových sochařských děl, včetně jejich různých variací a parafrází. 
            </p>
            <hr class="project__line-description" width="200px"/>
        </div>



        

        <div class="project__details"> 
            <h4 class="project__details-title">Výtvarný workshop</h4>
            <p class="project__details-text">realizováno v rámci interaktivních prohlídek pro školy a sobotních výtvarných workshopů pro širokou veřejnost.</p>

            <h4 class="project__details-title">Výtvarná technika</h4>
            <p class="project__details-text">kresba, modelování, fotografie</p>

            <h4 class="project__details-title">Vzdělávací oblasti</h4>
            <p class="project__details-text">výtvarná výchova, výchova k občanství, umění a kultura</p>

            <h4 class="project__details-title">Věková kategorie</h4>
            <p class="project__details-text">od 9 let</p>

            <h4 class="project__details-title">Realizace</h4>
            <p class="project__details-text">Galerie hlavního města Prahy, 2022</p>
        </div>

   

</div>
