---
layout: layouts/page-gd.njk
title: Grafický design
---



   
        {% include 'partials/aside/aside-gd.njk' %}

    <section class="category gd-identity"> 

        <span class="anchor" id="link-gd-identity"></span>
        <h2>vizuální identita</h2>
        
        {% include 'components/1_project-gd.njk' %}

        
    </section>

        
    <section class="category gd-digi">
        <span class="anchor" id="link-gd-digi"></span>
        <h2>digitální grafika</h2>
            
            
            {% include 'components/1_project-gd.njk' %}
            {% include 'components/1_project-gd.njk' %}

            

    </section>

        <section class="category gd-print">
            <span class="anchor" id="link-gd-print"></span>
            <h2>tisková grafika</h2>
            
            {% include 'components/1_project-gd.njk' %}
    
        </section>

    











    
