---
layout: layouts/page-gd.njk
title: Grafický design
---



   
        {% include 'partials/aside/aside-gd.njk' %}

    <section class="category gd-identity"> 

        <a name="link-gd-identity"><h2>vizuální identita</h2></a>
        
        {% include 'components/1_project-gd.njk' %}

        
    </section>

        
    <section class="category gd-digi">
            <a name="link-gd-digi"><h2>digitální grafika</h2></a>
            
            
            {% include 'components/1_project-gd.njk' %}
            {% include 'components/1_project-gd.njk' %}

            

        </section>

        <section class="category gd-print">

            <a name="link-gd-print"><h2>tisková grafika</h2></a>
            
            {% include 'components/1_project-gd.njk' %}
    
        </section>

    











    
