---
layout: layouts/page-vv.njk
title: Výtvarné vzdělávání
---

   
    {% include 'partials/aside/aside-vv.njk' %}
    <section class="category">

        <span class="anchor" id="link-vv-projects"></span>
        <h2 class="category__name--vv">výtvarné projekty</h2>
       
      

        <!-- v oceanu -->
        {% include 'components/3_project-vv.njk' %}

        <!-- rozdilne videni -->
        {% include 'components/2_project-vv.njk' %}

         <!-- zdravi a nemoc -->
        {% include 'components/1_project-vv.njk' %}
      
       
        
  
    
    </section>
    
    <section class="category">
        
        <span class="anchor" id="link-vv-workshops"></span>
        <h2 class="category__name--vv">výtvarné workshopy</h2>
       
       <!-- Mestrovic -->
        {% include 'components/7_project-vv.njk' %}
        
    
    </section>


    <section class="category">

        <span class="anchor" id="link-vv-materials"></span>
        <h2 class="category__name--vv">edukační materiály</h2>
         
        <!-- online edukace 2 -->
          {% include 'components/5_project-vv.njk' %}

          <!-- online edukace 1 -->
         {% include 'components/4_project-vv.njk' %}
    
    </section>

  

 











    
