---
layout: layouts/page-vv.njk
title: Výtvarné vzdělávání
---

   
    {% include 'partials/aside/aside-vv.njk' %}

    <section class="category">

        <a name="link-vv-projects"><h2 class="category__name">výtvarné projekty</h2></a>
       
      

        <!-- v oceanu -->
        {% include 'components/3_project-vv.njk' %}

        <!-- rozdilne videni -->
        {% include 'components/2_project-vv.njk' %}

         <!-- zdravi a nemoc -->
        {% include 'components/1_project-vv.njk' %}
      
       
        
  
    
    </section>
    
    <section class="category">

        <a name="link-vv-workshops"><h2 class="category__name">výtvarné workshopy</h2></a>
       
       <!-- Mestrovic -->
        {% include 'components/7_project-vv.njk' %}
        
    
    </section>


    <section class="category">

        <a name="link-vv-materials"><h2 class="category__name">edukační materiály</h2></a>
         
        <!-- online edukace 2 -->
          {% include 'components/5_project-vv.njk' %}

          <!-- online edukace 1 -->
         {% include 'components/4_project-vv.njk' %}
    
    </section>

  

 











    
