<header id="site-header--vv" class="site-header" >
    
  
        <a href="/index.html"><img class="site-header__logo"  src="/images/veraicon_horizontal.png"></a>
        
        {% include 'partials/navigation-vv.njk' %}
  

    <a class="language" href="#">cz > en</a>
    
    
   
        
</header> 