<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nejsem svatá, ani nenabízím boží grafiku. Pomůžu Vám ale Vaše myšlenky zachytit a ikonicky sdílet.">
    <meta name="google-site-verification" content="9FYxhdk3KXTWB1jjOLSgax3I3u71GcmlFGc2Rw1ye1Q" />

    <title>VERAICON</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="VERAICON" />
    <link rel="manifest" href="/favicon/site.webmanifest" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@;300;400;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MHS44HC1T0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MHS44HC1T0');
    </script>


    <style>
              /* width */
      ::-webkit-scrollbar {
        width: 15px;
        height: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          /* border: 1px solid rgb(142, 142, 142); */
        box-shadow: inset 0 0 2px rgb(200, 200, 200); 
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(187, 187, 187); 
        border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:  rgb(143, 143, 143); 
}

</style>

</head>