<nav class="nav">
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">
            <div><img class="hamburger-menu" src="/images/hamburger.svg" alt="hamburger menu">
            </div>
            </label>

    <div class="menu menu-vv">
        {% include 'partials/menu.njk' %}
    </div>
</nav>
