<header id="site-header--gd" class="site-header">
    
   
    <a href="/index.html"><img class="site-header__logo"  src="/images/veraicon_horizontal_white.png"></a>

    {% include 'partials/navigation/navigation-gd.njk' %}
   
    <a class="language--gd" href="#">cz > en</a>
    
   
        
</header> 