<header class="site-header-new--homepage">

   
    
   <div class="site-header__homelink">

 
      <a href="/en/index.html"><img class="site-header__logo-new  logo-new-black" src="/images/veraicon_horizontal.png"></a>
      <a href="/en/index.html"><img class="site-header__logo-new logo-new-white"  src="/images/veraicon_horizontal_white.png"></a>



    <svg class="item-corner2" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1.01 1.04">
        <defs>
            <style>
            .cls-1 {
                stroke-width: 0px;
            }
            </style>
        </defs>
        <path class="cls-1" d="m1.01.93h-.13v.02h.13s0-.01,0-.02Z"/>
        <path class="cls-1" d="m1.01.81h-.15s0,0,0,0c.05,0,.1,0,.15,0,0-.02,0-.05,0-.07-.12,0-.24,0-.36,0,0,.01,0,.02,0,.03,0,.02,0,.03-.03.05h.15s-.15,0-.15,0h0s-.02,0-.02,0c0,0-.01,0-.02,0,0,0,0,0,.01,0,.01,0,.02,0,.03,0,.12,0,.25,0,.37,0,0,0,0,0,0-.01Z"/>
        <path class="cls-1" d="m.68.97v-.03h.09v-.02s-.04,0-.08-.02l-.03-.04h0s-.21,0-.21,0c0-.02-.01-.03-.03-.03s-.02,0-.03,0c-.02,0-.03,0-.03,0-.02,0-.03,0-.03-.02l.19-.04v-.07s-.05,0-.07,0h-.03s-.02,0-.03,0c-.02,0-.05,0-.07,0v.08h-.05l-.02-.02v-.08s0-.06,0-.06h0s.05.03.05.03v-.08s0-.05,0-.08c0-.04-.01-.07-.03-.1v-.03s0-.01,0-.02c.01,0,.02-.01.02-.03,0-.08,0-.17,0-.25,0-.03,0-.06,0-.09h-.08v.78s0,.02-.03.02l-.02-.03h0c0-.17,0-.34,0-.51,0-.09,0-.18,0-.27H.02s0,.03,0,.04v.47H0v.26s0,.08,0,.11c0,.03,0,.06,0,.1,0,.02,0,.04,0,.06h1v-.05h-.33ZM.28.47l.03.03-.03.06v-.09Zm-.21-.08h0v-.06h.02s0,0,0,0,0,.01.02.02c0,.02,0,.03-.02.03Zm.11.47h-.02s-.03-.03-.03-.03h-.02l.03-.03s-.01,0-.03-.01c-.01,0-.02,0-.02-.01s.01,0,.03,0c0,0,.01,0,.02,0,0,0,.01,0,.03,0v.08Zm.06.09h-.03v-.02s0,0,0,0c.02,0,.03,0,.03.02H.24Zm.03-.1s.05,0,.05,0h-.05Zm0,0H.27s0-.03,0-.03l.05.03h-.06Z"/>
        <polygon class="cls-1" points="1.01 .85 .74 .86 .77 .86 .77 .93 .88 .93 .88 .86 1.01 .86 1.01 .85"/>
        <polygon class="cls-1" points=".25 .83 .25 .82 .24 .83 .25 .83"/>
        </svg>
   </div>
    {% include 'partials/navigation/navigation_en.njk' %}
   

    <div>
        <button id="toggle-button" class="toggle-button--light">EN</button>
    </div> 
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Zkontroluje, zda je stránka 'index.html'
          if (window.location.pathname.endsWith("index.html")) {
            // Vyhledá element s třídou 'site-header__logo-new' a skryje jej
            const logoElement = document.querySelector(".site-header__logo-new");
            if (logoElement) {
              logoElement.style.display = "none";
            }
          }
        });
      </script>
        
</header> 