
<div class="project--vv">
    <div class="item-corners">
        <svg class="item-corner1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1.01 1.04">
            <defs>
                <style>
                .cls-1 {
                    stroke-width: 0px;
                }
                </style>
            </defs>
            <path class="cls-1" d="m1.01.93h-.13v.02h.13s0-.01,0-.02Z"/>
            <path class="cls-1" d="m1.01.81h-.15s0,0,0,0c.05,0,.1,0,.15,0,0-.02,0-.05,0-.07-.12,0-.24,0-.36,0,0,.01,0,.02,0,.03,0,.02,0,.03-.03.05h.15s-.15,0-.15,0h0s-.02,0-.02,0c0,0-.01,0-.02,0,0,0,0,0,.01,0,.01,0,.02,0,.03,0,.12,0,.25,0,.37,0,0,0,0,0,0-.01Z"/>
            <path class="cls-1" d="m.68.97v-.03h.09v-.02s-.04,0-.08-.02l-.03-.04h0s-.21,0-.21,0c0-.02-.01-.03-.03-.03s-.02,0-.03,0c-.02,0-.03,0-.03,0-.02,0-.03,0-.03-.02l.19-.04v-.07s-.05,0-.07,0h-.03s-.02,0-.03,0c-.02,0-.05,0-.07,0v.08h-.05l-.02-.02v-.08s0-.06,0-.06h0s.05.03.05.03v-.08s0-.05,0-.08c0-.04-.01-.07-.03-.1v-.03s0-.01,0-.02c.01,0,.02-.01.02-.03,0-.08,0-.17,0-.25,0-.03,0-.06,0-.09h-.08v.78s0,.02-.03.02l-.02-.03h0c0-.17,0-.34,0-.51,0-.09,0-.18,0-.27H.02s0,.03,0,.04v.47H0v.26s0,.08,0,.11c0,.03,0,.06,0,.1,0,.02,0,.04,0,.06h1v-.05h-.33ZM.28.47l.03.03-.03.06v-.09Zm-.21-.08h0v-.06h.02s0,0,0,0,0,.01.02.02c0,.02,0,.03-.02.03Zm.11.47h-.02s-.03-.03-.03-.03h-.02l.03-.03s-.01,0-.03-.01c-.01,0-.02,0-.02-.01s.01,0,.03,0c0,0,.01,0,.02,0,0,0,.01,0,.03,0v.08Zm.06.09h-.03v-.02s0,0,0,0c.02,0,.03,0,.03.02H.24Zm.03-.1s.05,0,.05,0h-.05Zm0,0H.27s0-.03,0-.03l.05.03h-.06Z"/>
            <polygon class="cls-1" points="1.01 .85 .74 .86 .77 .86 .77 .93 .88 .93 .88 .86 1.01 .86 1.01 .85"/>
            <polygon class="cls-1" points=".25 .83 .25 .82 .24 .83 .25 .83"/>
            </svg>
        
        <svg class="item-corner2" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1.01 1.04">
        <defs>
            <style>
            .cls-1 {
                stroke-width: 0px;
            }
            </style>
        </defs>
        <path class="cls-1" d="m1.01.93h-.13v.02h.13s0-.01,0-.02Z"/>
        <path class="cls-1" d="m1.01.81h-.15s0,0,0,0c.05,0,.1,0,.15,0,0-.02,0-.05,0-.07-.12,0-.24,0-.36,0,0,.01,0,.02,0,.03,0,.02,0,.03-.03.05h.15s-.15,0-.15,0h0s-.02,0-.02,0c0,0-.01,0-.02,0,0,0,0,0,.01,0,.01,0,.02,0,.03,0,.12,0,.25,0,.37,0,0,0,0,0,0-.01Z"/>
        <path class="cls-1" d="m.68.97v-.03h.09v-.02s-.04,0-.08-.02l-.03-.04h0s-.21,0-.21,0c0-.02-.01-.03-.03-.03s-.02,0-.03,0c-.02,0-.03,0-.03,0-.02,0-.03,0-.03-.02l.19-.04v-.07s-.05,0-.07,0h-.03s-.02,0-.03,0c-.02,0-.05,0-.07,0v.08h-.05l-.02-.02v-.08s0-.06,0-.06h0s.05.03.05.03v-.08s0-.05,0-.08c0-.04-.01-.07-.03-.1v-.03s0-.01,0-.02c.01,0,.02-.01.02-.03,0-.08,0-.17,0-.25,0-.03,0-.06,0-.09h-.08v.78s0,.02-.03.02l-.02-.03h0c0-.17,0-.34,0-.51,0-.09,0-.18,0-.27H.02s0,.03,0,.04v.47H0v.26s0,.08,0,.11c0,.03,0,.06,0,.1,0,.02,0,.04,0,.06h1v-.05h-.33ZM.28.47l.03.03-.03.06v-.09Zm-.21-.08h0v-.06h.02s0,0,0,0,0,.01.02.02c0,.02,0,.03-.02.03Zm.11.47h-.02s-.03-.03-.03-.03h-.02l.03-.03s-.01,0-.03-.01c-.01,0-.02,0-.02-.01s.01,0,.03,0c0,0,.01,0,.02,0,0,0,.01,0,.03,0v.08Zm.06.09h-.03v-.02s0,0,0,0c.02,0,.03,0,.03.02H.24Zm.03-.1s.05,0,.05,0h-.05Zm0,0H.27s0-.03,0-.03l.05.03h-.06Z"/>
        <polygon class="cls-1" points="1.01 .85 .74 .86 .77 .86 .77 .93 .88 .93 .88 .86 1.01 .86 1.01 .85"/>
        <polygon class="cls-1" points=".25 .83 .25 .82 .24 .83 .25 .83"/>
        </svg>

        <svg class="item-corner3" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1.01 1.04">
            <defs>
                <style>
                .cls-1 {
                    stroke-width: 0px;
                }
                </style>
            </defs>
            <path class="cls-1" d="m1.01.93h-.13v.02h.13s0-.01,0-.02Z"/>
            <path class="cls-1" d="m1.01.81h-.15s0,0,0,0c.05,0,.1,0,.15,0,0-.02,0-.05,0-.07-.12,0-.24,0-.36,0,0,.01,0,.02,0,.03,0,.02,0,.03-.03.05h.15s-.15,0-.15,0h0s-.02,0-.02,0c0,0-.01,0-.02,0,0,0,0,0,.01,0,.01,0,.02,0,.03,0,.12,0,.25,0,.37,0,0,0,0,0,0-.01Z"/>
            <path class="cls-1" d="m.68.97v-.03h.09v-.02s-.04,0-.08-.02l-.03-.04h0s-.21,0-.21,0c0-.02-.01-.03-.03-.03s-.02,0-.03,0c-.02,0-.03,0-.03,0-.02,0-.03,0-.03-.02l.19-.04v-.07s-.05,0-.07,0h-.03s-.02,0-.03,0c-.02,0-.05,0-.07,0v.08h-.05l-.02-.02v-.08s0-.06,0-.06h0s.05.03.05.03v-.08s0-.05,0-.08c0-.04-.01-.07-.03-.1v-.03s0-.01,0-.02c.01,0,.02-.01.02-.03,0-.08,0-.17,0-.25,0-.03,0-.06,0-.09h-.08v.78s0,.02-.03.02l-.02-.03h0c0-.17,0-.34,0-.51,0-.09,0-.18,0-.27H.02s0,.03,0,.04v.47H0v.26s0,.08,0,.11c0,.03,0,.06,0,.1,0,.02,0,.04,0,.06h1v-.05h-.33ZM.28.47l.03.03-.03.06v-.09Zm-.21-.08h0v-.06h.02s0,0,0,0,0,.01.02.02c0,.02,0,.03-.02.03Zm.11.47h-.02s-.03-.03-.03-.03h-.02l.03-.03s-.01,0-.03-.01c-.01,0-.02,0-.02-.01s.01,0,.03,0c0,0,.01,0,.02,0,0,0,.01,0,.03,0v.08Zm.06.09h-.03v-.02s0,0,0,0c.02,0,.03,0,.03.02H.24Zm.03-.1s.05,0,.05,0h-.05Zm0,0H.27s0-.03,0-.03l.05.03h-.06Z"/>
            <polygon class="cls-1" points="1.01 .85 .74 .86 .77 .86 .77 .93 .88 .93 .88 .86 1.01 .86 1.01 .85"/>
            <polygon class="cls-1" points=".25 .83 .25 .82 .24 .83 .25 .83"/>
        </svg>

        <svg class="item-corner4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1.01 1.04">
            <defs>
                <style>
                .cls-1 {
                    stroke-width: 0px;
                }
                </style>
            </defs>
            <path class="cls-1" d="m1.01.93h-.13v.02h.13s0-.01,0-.02Z"/>
            <path class="cls-1" d="m1.01.81h-.15s0,0,0,0c.05,0,.1,0,.15,0,0-.02,0-.05,0-.07-.12,0-.24,0-.36,0,0,.01,0,.02,0,.03,0,.02,0,.03-.03.05h.15s-.15,0-.15,0h0s-.02,0-.02,0c0,0-.01,0-.02,0,0,0,0,0,.01,0,.01,0,.02,0,.03,0,.12,0,.25,0,.37,0,0,0,0,0,0-.01Z"/>
            <path class="cls-1" d="m.68.97v-.03h.09v-.02s-.04,0-.08-.02l-.03-.04h0s-.21,0-.21,0c0-.02-.01-.03-.03-.03s-.02,0-.03,0c-.02,0-.03,0-.03,0-.02,0-.03,0-.03-.02l.19-.04v-.07s-.05,0-.07,0h-.03s-.02,0-.03,0c-.02,0-.05,0-.07,0v.08h-.05l-.02-.02v-.08s0-.06,0-.06h0s.05.03.05.03v-.08s0-.05,0-.08c0-.04-.01-.07-.03-.1v-.03s0-.01,0-.02c.01,0,.02-.01.02-.03,0-.08,0-.17,0-.25,0-.03,0-.06,0-.09h-.08v.78s0,.02-.03.02l-.02-.03h0c0-.17,0-.34,0-.51,0-.09,0-.18,0-.27H.02s0,.03,0,.04v.47H0v.26s0,.08,0,.11c0,.03,0,.06,0,.1,0,.02,0,.04,0,.06h1v-.05h-.33ZM.28.47l.03.03-.03.06v-.09Zm-.21-.08h0v-.06h.02s0,0,0,0,0,.01.02.02c0,.02,0,.03-.02.03Zm.11.47h-.02s-.03-.03-.03-.03h-.02l.03-.03s-.01,0-.03-.01c-.01,0-.02,0-.02-.01s.01,0,.03,0c0,0,.01,0,.02,0,0,0,.01,0,.03,0v.08Zm.06.09h-.03v-.02s0,0,0,0c.02,0,.03,0,.03.02H.24Zm.03-.1s.05,0,.05,0h-.05Zm0,0H.27s0-.03,0-.03l.05.03h-.06Z"/>
            <polygon class="cls-1" points="1.01 .85 .74 .86 .77 .86 .77 .93 .88 .93 .88 .86 1.01 .86 1.01 .85"/>
            <polygon class="cls-1" points=".25 .83 .25 .82 .24 .83 .25 .83"/>
        </svg>           
        </div>

        <div class="container-gallery">
      
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/1.jpg"><img  src="/images/vv-projects/7/preview/1.jpg" alt="foto1"></a>
    
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/2.jpg"><img src="/images/vv-projects/7/preview/2.jpg" alt="foto2"></a>
        
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/3.jpg"><img src="/images/vv-projects/7/preview/3.jpg" alt="foto3"></a>
        
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/4.jpg"><img src="/images/vv-projects/7/preview/4.jpg" alt="foto4"></a>

            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/5.jpg"><img src="/images/vv-projects/7/preview/5.jpg" alt="foto5"></a>
        
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/6.jpg"><img src="/images/vv-projects/7/preview/6.jpg" alt="foto6"></a>
        
            <a data-fslightbox="7vv" class="gallery__item-preview" href="/images/vv-projects/7/full/7.jpg"><img src="/images/vv-projects/7/preview/7.jpg" alt="foto7"></a>
    
        </div>
       
        <div class="project__introduction">
           
            <h3 class="project__title--vv">Od skici k objektu a soše / k výstavě Ivan Meštrović (1883–1962) Sochař a světoobčan</h3>
            
            <hr class="project__line-title--vv" width="100px">

            

            <p class="project__description">Výtvarné workshopy zaměřené na život a dílo Ivana Meštroviće přiblížily teorii i praxi sochařské práce, její tradiční postupy a metody. Vedle toho byly návštěvníky navržené drobné sochy inspirované tvorbou autora přeneseny pomocí nových medií virtuálně do veřejného prostoru v různých částech světa. Jedním z hlavních podnětů byl i kosmopolitismus, související s rozsáhlými zahraničními a cestovatelskými zkušenostmi autora. Realizovaly se také  tzv. „živé sochy“ – stylizovaní se do kompozic Meštrovićových sochařských děl, včetně jejich různých variací a parafrází. 
            </p>
            <hr class="project__line-description" width="200px"/>
        </div>


        

        <div class="project__details">
            <h4 class="project__details-title">VÝTVARNÉ WORKSHOPY</h4>
            <p class="project__details-text">realizované v rámci interaktivních prohlídek pro školy a sobotních workshopů pro širokou veřejnost</p>

            <h4 class="project__details-title">VÝTVARNÁ TECHNIKA</h4>
            <p class="project__details-text">kresba, modelování, fotografie</p>

            <h4 class="project__details-title">VZDĚLÁVACÍ OBLASTI</h4>
            <p class="project__details-text">výtvarná výchova, výchova k občanství, výtvarná kultura</p>

            <h4 class="project__details-title">VĚKOVÁ KATEGORIE</h4>
            <p class="project__details-text">od 9 let</p>

            <h4 class="project__details-title">REALIZACE</h4>
            <p class="project__details-text">Galerie hlavního města Prahy, 2022</p>
        </div>


   

</div>
