<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
  <head>
    {% include 'partials/head.njk' %}
    <script src="/languageToggle.js" defer></script>

    <link rel="icon" type="image/png" href="/https://veraicon.cz/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/https://veraicon.cz/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/https://veraicon.cz/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/https://veraicon.cz/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="VERAICON" />
    <link rel="manifest" href="/https://veraicon.cz/favicon/site.webmanifest" />

  </head>
  <body class="{{ bodyClass }}">
    {% block header %}{% include 'partials/header/default-header.njk' %}{% endblock %}
    
    <main>
      {{ content | safe }}
    </main>
    
    {% block footer %}{% include 'partials/footer.njk' %}{% endblock %}


    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const checkbox = document.getElementById('menu-checkbox');
          const menu = document.querySelector('.menu');
          const toggler = document.querySelector('.menu__toggler');
  
          // Zkontrolujeme, zda je checkbox zaškrtnutý
          checkbox.addEventListener('change', function() {
              if (checkbox.checked) {
                  document.addEventListener('click', handleOutsideClick);
              } else {
                  document.removeEventListener('click', handleOutsideClick);
              }
          });
  
          // Funkce pro zavření menu při kliknutí mimo
          function handleOutsideClick(event) {
              if (!menu.contains(event.target) && !toggler.contains(event.target)) {
                  checkbox.checked = false;
                  document.removeEventListener('click', handleOutsideClick);
              }
          }
      });
  </script>

<script src="/fslightbox.js"></script>

<form
action="https://example.demo"
data-botpoison-public-key="pk_f9a4c075-6cc2-414b-8d72-8182c56e7e80"
>
<input type="text" name="message" />
<button type="submit">Send</button>
</form>

  </body>
</html>

