<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
  <head>
    {% include 'partials/head.njk' %}
    <script src="/languageToggle.js" defer></script>

 
  </head>
  <body class="{{ bodyClass }}">
    {% block header %}{% include 'partials/header/default-header.njk' %}{% endblock %}
    
    <main>
      {{ content | safe }}
    </main>
    
    {% block footer %}{% include 'partials/footer.njk' %}{% endblock %}


    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const checkbox = document.getElementById('menu-checkbox');
          const menu = document.querySelector('.menu');
          const toggler = document.querySelector('.menu__toggler');
  
          // Zkontrolujeme, zda je checkbox zaškrtnutý
          checkbox.addEventListener('change', function() {
              if (checkbox.checked) {
                  document.addEventListener('click', handleOutsideClick);
              } else {
                  document.removeEventListener('click', handleOutsideClick);
              }
          });
  
          // Funkce pro zavření menu při kliknutí mimo
          function handleOutsideClick(event) {
              if (!menu.contains(event.target) && !toggler.contains(event.target)) {
                  checkbox.checked = false;
                  document.removeEventListener('click', handleOutsideClick);
              }
          }
      });
  </script>

<script src="/fslightbox.js"></script>



  </body>
</html>

