<!-- <!DOCTYPE html>
<html lang="cs">
    
    {% include 'partials/head.njk' %}
 
    {% include 'partials/body/body-gd.njk' %}



</html> -->

{% extends "layouts/base-template_en.njk" %}

{% set bodyClass = "body--gd" %}

{% block header %}
  {% include 'partials/header/header-gd_en.njk' %}
{% endblock %}


