---
layout: layouts/main-template_en.njk
---

<!-- {% include 'partials/header/header.njk' %} -->


<main class="main-wide">

    {{ content | safe }}

</main>

<!-- {% include 'partials/footer.njk' %} -->