---
layout: layouts/main-template.njk
---

<!-- {% include 'partials/header/header-home.njk' %} -->


<main class="main-regular">

    {{ content | safe }}

</main>

<!-- {% include 'partials/footer.njk' %} -->