---
layout: layouts/gd-template.njk
---

{% include 'partials/header/header-gd.njk' %}


<main class="main-gd background__dark">

    {{ content | safe }}

</main>

{% include 'partials/footer.njk' %}