---
layout: layouts/main-template.njk
---

{% include 'partials/header/header.njk' %}


<main class="main-regular background__light">

    {{ content | safe }}

</main>

{% include 'partials/footer.njk' %}