<!-- <!DOCTYPE html>
<html lang="cs">
    
    {% include 'partials/head.njk' %}
 
    {% include 'partials/body/body-vv.njk' %}

</html> -->

{% extends "layouts/base-template.njk" %}

{% set bodyClass = "body--vv" %}

{% block header %}
  {% include 'partials/header/header-vv.njk' %}
{% endblock %}

