<body class="body">

    {{ content | safe }}

    <script src="/siema.min.js"></script>
    <script>
      const mySiema = new Siema();
      document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
      document.querySelector('.next').addEventListener('click', () => mySiema.next());

    </script>

    <script src="/fslightbox.js"></script>
</body>