<body class="body">

    {{ content | safe }}

    <script src="/siema.min.js"></script>
    <script>
      const mySiema = new Siema();
      document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
      document.querySelector('.next').addEventListener('click', () => mySiema.next());

    </script>

    <script src="/fslightbox.js"></script>

    <script src="/glide.min.js"></script>

    <!-- <script>
      new Glide('.glide', { 
        autoplay: 4000,
        type: 'carousel'
     }).mount()
    </script>

    <script>
      new Glide('.glide2', { 
        autoplay: 6000,
        type: 'carousel'
    }).mount()
    </script> -->

   
</body>